<% model = collection.models.first %>
<div class="col mb-4">
  <div class="card model-card">

    <% if model && (file = model.preview_file) %>
      <% if file.is_image? %>
        <%= image_tag library_model_model_file_path(model.library, model, file, format: file.extension), class: "card-img-top image-preview ", alt: file.name %>
      <% elsif renderable?(file.extension) %>
        <div class="card-img-top">
          <%= render partial: "object_preview", locals: { library: model.library, model: model, file: file } %>
        </div>
      <% end %>
       <% else %>
       <div class='preview-empty'> <p>no preview availiable</p></div>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= collection.name.titleize %></h5>
      <div class="col-auto">
        <% if collection.collection %>
          <%= icon "collection", "Collection" %>
          <%= link_to collection.collection.name, (@filters||{}).merge(collection: collection.collection.id) %><br/>
        <% end %>
        <% if collection.caption %>
          <h6 class="card-subtitle mb-2 text-muted"><%= sanitize collection.caption %></h6>
        <% end %>
        <% if collection.notes && collection.notes != "" %>
          <p class="card-text"><%= sanitize collection.notes %></p>
        <% end %>
        <ul class='links'>
          <% collection.links.each do |link| %>
            <li><%= link_to t("sites.#{link.site}"), link.url %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <%= link_to pluralize(collection.models.count, "Model"), {controller: 'models', collection: collection.id}, class: "btn btn-primary" %>
        <%= link_to pluralize(collection.collections.count, "Collection"), {controller: 'collections', collection: collection.id}, class: "btn btn-primary" %>
        <%= link_to "Filter", (@filters||{}).merge(controller: 'collections', collection: collection.id), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_collection_path(collection), {class: "btn btn-outline-secondary"} %>
      </div>
    </div>
  </div>
</div>
