<% model = policy_scope(Model).where(collection: collection).first %>
<div class="col mb-4">
  <div class="card preview-card">

    <% if model && (file = model.preview_file) %>
      <% if file.is_image? %>
        <%= content_tag :div, nil, class: "card-img-top card-img-top-background", style: "background-image: url(#{model_model_file_path(model, file, format: file.extension)})" %>
        <%= image_tag model_model_file_path(model, file, format: file.extension), class: "card-img-top image-preview ", alt: file.name %>
      <% elsif renderable?(file.extension) %>
        <div class="card-img-top">
          <%= render partial: "object_preview", locals: {model: model, file: file} %>
        </div>
      <% end %>
       <% else %>
       <div class='preview-empty'> <p><%= t ".no_preview" %></p></div>
    <% end %>
    <div class="card-body">
      <div class="card-title"><%= collection.name.titleize %></div>
      <div class="g-col-auto">
        <% if collection.collection %>
          <%= icon "collection", collection.model_name.human %>
          <%= link_to collection.collection.name, (@filters || {}).merge(collection: collection.collection) %><br>
        <% end %>
        <% if collection.caption %>
          <h6 class="card-subtitle mb-2 text-muted"><%= sanitize collection.caption %></h6>
        <% end %>
        <% if collection.notes && collection.notes != "" %>
          <p class="card-text"><%= sanitize collection.notes %></p>
        <% end %>
        <ul class='links'>
          <% collection.links.each do |link| %>
            <li><%= link_to t("sites.%{site}" % {site: link.site}), link.url %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <%= link_to "#{policy_scope(Model).where(collection: collection).count} #{Model.model_name.human count: policy_scope(Model).where(collection: collection).count}", {controller: "models", collection: collection}, class: "btn btn-primary", "aria-label": translate(".models_button.label", name: collection.name) if policy(collection).show? %>
        <%= link_to "#{collection.collections.count} #{Collection.model_name.human count: collection.collections.count}", (@filters || {}).merge(controller: "collections", collection: collection), class: "btn btn-primary", "aria-label": translate(".collections_button.label", name: collection.name) if collection.collections.count > 0 && policy(collection).show? %>
        <%= link_to icon("pencil-fill", t(".edit_button.text")), edit_collection_path(collection), {class: "btn btn-outline-secondary", "aria-label": translate(".edit_button.label", name: collection.name)} if policy(collection).edit? %>
      </div>
    </div>
  </div>
</div>
