<%= form_with model: @collection do |form| %>
  <%= text_input_row form, :name %>
  <div class="row mb-3 input-group">
    <%= form.label :collection_id, class: "col-sm-2 col-form-label" %>
    <%= form.collection_select :collection_id, @collections, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
    <%= link_to "New Collection", new_collection_path, class: "btn btn-outline-secondary col-auto" %>
  </div>
  <%= render 'links_form', form: form %>
  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes %>
  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>
