<%= form_with model: @collection, class: "grid grid-2-auto" do |form| %>
  <%= text_input_row form, :name %>

  <%= form.label :collection_id, class: "col-form-label" %>
  <div class="input-group">
    <%= form.collection_select :collection_id, @collections, :id, :name, {include_blank: true}, {class: "form-control g-col-auto form-select"} %>
    <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-outline-secondary g-col-auto" if policy(:collection).new? %>
  </div>

  <%= render "links_form", form: form %>
  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes %>
  <%= render "caber_relations_form", form: form %>

  <div class='g-start-2'>
    <%= form.submit translate("general.save"), class: "btn btn-primary" %>
    <% if @collection.persisted? %>
      <span class='text-end'>
        <%= link_to t("general.delete"), collection_path(@collection), {method: :delete, class: "btn btn-outline-danger"} if policy(@collection).destroy? %>
      </span>
    <% end %>
  </div>
<% end %>
