<% content_for :items do %>
  <div class="skip-link-container">
    <div class="clearfix">
      <%= skip_link "sidebar", t(".skip_collections") %>
      <%= render "order_buttons" %>
      <% if pagination_settings["collections"] %>
        <%= paginate @collections %>
      <% end %>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render "unassigned" if (!pagination_settings["collections"] || @collections.first_page?) && !@filters[:collection] %>
      <% if @filters[:collection] && @collection %>
        <%= render @collection %>
      <% end %>
      <%= render @collections %>
    </div>
    <% if pagination_settings["collections"] %>
      <%= paginate @collections %>
    <% end %>
  </div>
<% end %>

<% content_for :actions do %>
  <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-primary" if policy(:collection).new? %>
<% end %>

<% content_for :sidebar do %>
  <%= render "filters_card" %>
  <%= render "tags_card" %>
<% end %>
