<% content_for :page_header do %>
  <%= render "application/content_header" %>
<% end %>

<% content_for :items do %>
  <div class="skip-link-container">
    <%= skip_link "sidebar", t(".skip_collections") %>
    <% if pagination_settings["collections"] %>
      <%= paginate @collections %>
    <% end %>
    <div class="grid row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render "unassigned" if (!pagination_settings["collections"] || @collections.first_page?) && !@filters[:collection] %>
      <% if @filters[:collection] && @collection %>
        <%= render @collection %>
      <% end %>
      <%= render @collections %>
    </div>
    <% if pagination_settings["collections"] %>
      <%= paginate @collections %>
    <% end %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= card :secondary, t(".actions_heading") do %>
    <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-primary mb-3 me-3" if policy(:collection).new? %>
  <% end %>
  <%= render "filters_card" %>
  <%= render "tags_card" %>
<% end %>
