<% content_for :page_header do %>
  <%= render "application/content_header" %>
<% end %>

<% content_for :items do %>
  <% if current_user.pagination_settings["collections"] %>
    <%= paginate @collections %>
  <% end %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
    <% if @filters[:collection] && @collection %>
      <%= render @collection %>
    <% end %>
    <%= render @collections %>
  </div>
  <% if current_user.pagination_settings["collections"] %>
    <%= paginate @collections %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= card :secondary, t(".actions_heading") do %>
    <%= link_to t(".view_unassigned_models"), models_path(collection: ""), class: "btn btn-outline-secondary mb-3 me-3" %>
    <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-primary mb-3 me-3" if policy(:collection).new? %>
  <% end %>
  <%= render "filters_card" %>
  <% unless @tags.empty? %>
    <%= card :secondary, ActsAsTaggableOn::Tag.model_name.human(count: 100), collapse: "md" do %>
      <%= render "tag_list", tags: @tags - (@tag || []), muted_tags: @tags - @commontags %>
    <% end %>
  <% end %>
<% end %>
