<div class="grid row-cols-2">
  <div class="g-col-9">
    <div class="grid row-cols-2 align-items-baseline">
      <div class="col g-col-auto me-auto">
        <h1><%= @collection.name.titleize %></h1>
      </div>
      <div class="col g-col-auto ">
        <a href="?order=name" class="btn <%= (session["order"] == "name") ? "btn-secondary" : "btn-outline-secondary" %> btn-sm" title="sort by name"><i class="bi bi-book"></i></a>
        <a href="?order=recent" class="btn <%= (session["order"] == "recent") ? "btn-secondary" : "btn-outline-secondary" %> btn-sm" title="sort by time"><i class="bi bi-clock"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="grid row-cols-2">
  <div class="g-col-9">
    <% if pagination_settings["models"] %>
      <%= paginate @models %>
    <% end %>
    <div class="grid row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render partial: "model", collection: @models %>
    </div>
    <% if pagination_settings["models"] %>
      <%= paginate @models %>
    <% end %>
  </div>
  <div class="g-col-3">
  </div>
</div>
