<div class="form-container">
  <%= form_with model: list, class: "tabular-form" do |form| %>
    <%= TextInputRow(form: form, attribute: :name, label: List.human_attribute_name(:name)) unless @list.special %>

    <% if list.persisted? %>
      <div>
        <%= form.label :list_items %>
      </div>
      <div>
        <%= cocooned_container :table, id: "cocooned-list-items", data: {controller: "cocooned"}, class: "table table-striped" do
              form.fields_for :list_items do |f|
                render "list_item_fields", f: f
              end
            end %>
      </div>
    <% end %>

    <hr>
    <div>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if list.persisted? && policy(list).destroy? %>
    <span class="form-delete-button">
      <%= DoButton(
            icon: "trash",
            label: t("general.delete"),
            href: list_path(list),
            method: :delete,
            variant: "outline-danger",
            confirm: translate("views.lists.form.confirm_destroy")
          ) %>
    </span>
  <% end %>
</div>
