<%= form_with model: [@model, @file], class: "container-md tabular-form" do |form| %>
  <%= text_input_row form, :filename %>
  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes, help: t(".notes.help_html") %>

  <% if @file.is_3d_model? %>
    <%= checkbox_input_row form, :printed, checked: current_user.printed?(@file) %>
    <hr>
    <h4><%= t("general.settings") %></h4>
    <%= checkbox_input_row form, :presupported %>
    <%= checkbox_input_row form, :y_up %>
  <% end %>

  <hr>
  <h4><%= t("general.related_content") %></h4>

  <%= render "relationships_form", form: form %>

  <hr>
  <h4><%= t("general.access") %></h4>
  <%= checkbox_input_row form, :previewable %>

  <div class="form-save-button">
    <%= form.submit %>
  </div>
<% end %>
