<%= form_with model: [@library, @model, @file] do |form| %>
  <div class="form-check form-switch mb-3">
    <%= form.check_box :printed, class: 'form-check-input' %>
    <label class="form-check-label" for="printed">Printed?</label>
  </div>
  <div class="form-check form-switch mb-3">
    <%= form.check_box :presupported, class: 'form-check-input' %>
    <label class="form-check-label" for="presupported">Presupported?</label>
  </div>
  <div class="form-check form-switch mb-3">
    <%= form.check_box :y_up, class: 'form-check-input' %>
    <label class="form-check-label" for="y_up">Y Up</label>
  </div>

  <div class="row mb-3 input-group">
    <%= form.label :excerpt, class: "col-sm-2 col-form-label" %>
    <%= form.text_area :excerpt, class: "form-control col-auto" %>
  </div>

  <div class="row mb-3 input-group">
    <%= form.label :notes, class: "col-sm-2 col-form-label" %>
    <%= form.text_area :notes, class: "form-control col-auto" %>
  </div>
  
  <%= form.submit "Update", class: 'btn btn-primary' %>
<% end %>
