<%= form_with model: [@library, @model, @file] do |form| %>
  <div class="form-check form-switch mb-3">
    <%= form.check_box :printed, class: "form-check-input", checked: current_user.printed?(@file) %>
    <%= form.label :printed, class: "form-check-label" %>
  </div>
  <div class="form-check form-switch mb-3">
    <%= form.check_box :presupported, class: "form-check-input" %>
    <%= form.label :presupported, class: "form-check-label" %>
  </div>
  <div class="form-check form-switch mb-3">
    <%= form.check_box :y_up, class: "form-check-input" %>
    <%= form.label :y_up, class: "form-check-label" %>
  </div>

  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes %>
  <%= form.submit t("general.save"), class: "btn btn-primary" %>
<% end %>
