<%= card(problem_severity(problem), t("problems.model_file.%{cat}.title" % {cat: problem.category})) do %>
  <%= turbo_stream_from problem %>
  <%= t("problems.model_file.%{cat}.description" % {cat: problem.category}, note: problem.note) %>

  <% if problem.category == "duplicate" && !@duplicates.empty? %>
    <ul>
      <% @duplicates.each do |file| %>
        <li><%= link_to "#{file.model.name}/#{file.filename}", [file.model, file] %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mt-3 float-end"><%= render Components::ResolveButton.new(problem: problem, user: current_user) %></div>
<% end %>
