<%= render partial: "breadcrumb" %>
<h1><%= t(".title") %></h1>

<p class="lead"><%= t(".description") %></p>

<%= form_with url: bulk_update_model_model_files_path(@model), method: :patch do |form| %>

  <table class="table table-striped" data-bulk-edit>
    <tr>
      <th><input type="checkbox" aria-label="<%= translate ".select_all" %>" value="0" name="bulk-select-all"></th>
      <th><%= ModelFile.human_attribute_name(:name) %></th>
      <th><%= ModelFile.human_attribute_name(:filename) %></th>
      <th><%= ModelFile.human_attribute_name(:printed) %></th>
      <th><%= ModelFile.human_attribute_name(:presupported) %></th>
      <th><%= ModelFile.human_attribute_name(:y_up) %></th>
    </tr>
    <% @files.each do |file| %>
      <tr>
        <td><%= form.check_box "model_files[#{file.to_param}]", data: {bulk_item: file.to_param}, "aria-label": translate(".select", name: file.name) %></td>
        <td><%= link_to file.name, [@model, file], title: file.filename %></td>
        <td><code><%= file.filename %></code></td>
        <td><%= icon "check-circle-fill", ModelFile.human_attribute_name(:printed) if current_user.printed?(file) %></td>
        <td><%= icon "check-circle-fill", ModelFile.human_attribute_name(:presupported) if file.presupported %></td>
        <td><%= icon "check-circle-fill", ModelFile.human_attribute_name(:y_up) if file.y_up %></td>
      </tr>
    <% end %>
  </table>

  <p class="lead"><%= t ".form_subtitle" %></p>

  <div class="grid mb-3">
    <%= form.label :printed, class: "g-col-sm-2 col-form-label" %>
    <div class="g-col-sm-10">
      <div class="form-switch">
        <%= form.check_box :printed, class: "form-check-input form-check-inline" %>
      </div>
    </div>
  </div>
  <div class="grid mb-3">
    <%= form.label :presupported, class: "g-col-sm-2 col-form-label" %>
    <div class="g-col-sm-10">
      <div class="form-switch">
        <%= form.check_box :presupported, class: "form-check-input form-check-inline" %>
      </div>
    </div>
  </div>
  <div class="grid mb-3">
    <%= form.label :y_up, class: "g-col-sm-2 col-form-label" %>
    <div class="g-col-sm-10">
      <div class="form-switch">
        <%= form.check_box :y_up, class: "form-check-input form-check-inline" %>
      </div>
    </div>
  </div>
  <%= form.submit translate(".submit"), class: "btn btn-primary" %>

<% end %>
