<% content_for :head do %>
  <%= tag.meta property: "og:type", content: "website" %>
  <%= tag.meta name: "fediverse:creator", content: @file.model.creator.federails_actor.at_address if @file.model.creator %>
<% end %>

<%= turbo_stream_from @file %>

<%= PageTitle title: @file.name, breadcrumbs: {
      Model.model_name.human(count: 100) => models_path,
      @file.model.name => model_path(@file.model)
    } %>

<div class="row row-cols-2">

  <div class="col-9">
    <% if @related&.any? %>
      <ul class="nav nav-tabs">
        <%- @related.each do |file| %>
          <li class="nav-item">
            <%= link_to tab_title(file), [@model, file], class: class_names(
                  "nav-link",
                  active: (@file == file)
                ) %>
          </li>
        <%- end %>
      </ul>
    <% end %>
    <% if (handler = FileHandlers.handlers_for(environment: :browser, mime_type: @file.mime_type)&.first) %>
      <%= render handler.component.new(file: @file) %>
    <% elsif @file.has_render? %>
      <%= image_tag model_model_file_path(@file.model, @file, format: @file.extension, derivative: "render"), style: "width: 100%", alt: @file.name %>
    <% end %>
    <% if @file.notes %>
      <%= card(:secondary, t(".notes_heading")) do %>
        <p class="card-text"><%= markdownify @file.notes %></p>
      <% end %>
    <% end %>
  </div>

  <div class="col-3">
    <%= card :secondary, t(".details_heading") do %>
      <% if @file.caption %>
        <p class='lead'><%= @file.caption %></p>
      <% end %>
      <div class="details-table">
        <div><%= ModelFile.human_attribute_name :filename %></div>
        <div><code><%= @file.filename %></code></div>
        <% if @file.digest %>
          <div>
            <%= ModelFile.human_attribute_name :digest %>
          </div>
          <div>
            <code><%= @file.digest.slice(0, 16) %></code>
          </div>
        <% end %>
        <% if @file.size %>
          <div>
            <%= ModelFile.human_attribute_name :size %>
          </div>
          <div>
            <code><%= number_to_human_size @file.size, precision: 2 %></code>
          </div>
        <% end %>
        <% if @file.dimensions %>
          <div>
            <%= ModelFile.human_attribute_name :dimensions %>
          </div>
          <div>
            𝒙 <code><%= format("%g", @file.dimensions.x.round(2)) %></code>
            𝒚 <code><%= format("%g", @file.dimensions.y.round(2)) %></code>
            𝒛 <code><%= format("%g", @file.dimensions.z.round(2)) %></code>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group">
      <%= link_to safe_join([Icon(icon: "cloud-download-fill", label: t("general.download")), t("general.download")], " "), model_model_file_raw_path(@model, @file.filename, download: true), {class: "btn btn-primary", download: "download"} %>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Download options</span>
      </button>
      <ul class="dropdown-menu">
        <%= DropdownHeader text: t(".download.menu_header") %>
        <%= app_links @file %>
      </ul>
    </div>
    <div class="float-end">
      <%= BurgerMenu do %>
        <%= DropdownItem(icon: "pencil", label: translate("general.edit"), path: edit_model_model_file_path(@model, @file)) if policy(@model).edit? %>
        <%= DropdownItem(icon: "trash", label: translate("general.delete"), path: model_model_file_path(@model, @file), method: :delete, confirm: t("model_files.destroy.confirm")) if policy(@file).destroy? %>
      <% end %>
    <% end %>

    <% if can_print? @file %>
      <%= card("secondary", t(".print_card.heading")) do %>
        <ul class="list-unstyled">
          <%= print_links(@file) %>
        </ul>
      <% end %>
    <% end %>

    <%= render partial: "problems_card", locals: {problems: @file.problems.visible(problem_settings)} %>

  </div>
</div>
