<%= render partial: "breadcrumb" %>
<h1><%= @file.name %></h1>

<div class="row row-cols-2">

  <div class="col-9">
    <% if @file.is_image? %>
      <%= image_tag library_model_model_file_path(@model.library, @model, @file, format: @file.extension), alt: @file.name, style: "width: 100%" %>
    <% elsif renderable?(@file.extension) %>
      <%= render partial: "object_preview", locals: { library: @library, model: @model, file: @file } %>
    <% elsif @file.extension == 'txt' %>
      <pre>
        <%= render :file => File.join(@library.path, @model.path, @file.filename) %>
      </pre>
    <% elsif SupportedMimeTypes.icon(@file.extension) == "file-zip" %>
      <pre><%= unzip_list(File.join(@library.path, @model.path, @file.filename)).join("\n") %></pre>
    <% end %>
  </div>

  <div class="col-3">
    <%= card :secondary, "Details" do %>
      <p>
        Filename: <code><%= @file.filename %></code>
      </p>
      <% if @file.digest %>
        <p>
          Digest: <code><%= @file.digest.slice(0,16) %></code>
        </p>
      <% end %>
      <%= render 'form' %>
    <% end %>

    <%= card :secondary, "Actions" do %>
      <%= link_to "#{icon('cloud-download', 'Download')} Download".html_safe, library_model_model_file_path(@library, @model, @file, @file.extension.to_sym), {class: "btn btn-secondary"} %>
      <%= link_to "#{icon('trash', 'Delete')} Delete".html_safe, library_model_model_file_path(@library, @model, @file, @file.extension.to_sym), {method: "delete", data: {confirm: "Are you sure you want to remove this file from your filesystem?"}, class: "btn btn-danger"} %>
    <% end %>

    <%= card(:secondary, 'Notes') do %>
      <p class="card-text"><%= sanitize @file.notes %></p>
    <% end if @file.notes %>

  </div>
</div>
