<%= render partial: "breadcrumb" %>
<h1><%= @file.name %></h1>

<div class="grid row-cols-2">

  <div class="g-col-9">
    <% if @file.is_image? %>
      <%= image_tag model_model_file_path(@model, @file, format: @file.extension), alt: @file.name, style: "width: 100%" %>
    <% elsif renderable?(@file.extension) %>
      <% if @file.presupported_version || @file.unsupported_version %>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <% if @file.unsupported_version %>
              <%= link_to Model.human_attribute_name(:unsupported_version), [@model, @file.unsupported_version], class: "nav-link" %>
            <% else %>
              <a class="nav-link active" aria-current="page" href="#"><%= Model.human_attribute_name :unsupported_version %></a>
            <% end %>
          </li>
          <li class="nav-item">
            <% if @file.presupported_version %>
              <%= link_to Model.human_attribute_name(:presupported_version), [@model, @file.presupported_version], class: "nav-link" %>
            <% else %>
              <a class="nav-link active" aria-current="page" href="#"><%= Model.human_attribute_name :presupported_version %></a>
            <% end %>
          </li>
        </ul>
      <% end %>
      <%= render partial: "object_preview", locals: {model: @model, file: @file} %>
    <% end %>
    <% if @file.notes %>
      <%= card(:secondary, t(".notes_heading")) do %>
        <p class="card-text"><%= sanitize @file.notes %></p>
      <% end %>
    <% end %>
  </div>

  <div class="g-col-3">
    <%= card :secondary, t(".details_heading") do %>
      <% if @file.caption %>
        <p class='lead'><%= @file.caption %></p>
      <% end %>
      <p>
        <%= ModelFile.human_attribute_name :filename %>:
        <code><%= @file.filename %></code>
      </p>
      <% if @file.digest %>
        <p>
          <%= ModelFile.human_attribute_name :digest %>:
          <code><%= @file.digest.slice(0, 16) %></code>
        </p>
      <% end %>
      <% if @file.size %>
        <p>
          <%= ModelFile.human_attribute_name :size %>
          <code><%= number_to_human_size @file.size, precision: 2 %></code>
        </p>
      <% end %>
      <%= link_to safe_join([icon("pencil", t("general.edit")), t("general.edit")], " "), edit_model_model_file_path(@model, @file), class: "btn btn-primary" if policy(@file).edit? %>
      <%= link_to safe_join([icon("trash", t("general.delete")), t("general.delete")], " "), model_model_file_path(@model, @file), {method: "delete", data: {confirm: translate("model_files.destroy.confirm")}, class: "btn btn-outline-danger"} if policy(@file).destroy? %>
    <% end %>

    <%= render partial: "problem", collection: @file.problems.visible(problem_settings) %>

    <%= card :secondary, t(".actions_heading") do %>
      <%= link_to safe_join([icon("cloud-download", t("general.download")), t("general.download")], " "), model_model_file_path(@model, @file, @file.extension.to_sym, download: "true"), {class: "btn btn-secondary"} %>
      <% if policy(@file).edit? && ["stl", "obj"].include?(@file.extension) %>
        <%= link_to safe_join([icon("arrow-left-right", t(".convert")), t(".convert")], " "), model_model_files_path(@model, convert: {id: @file.to_param, to: "threemf"}), method: :post, class: "btn btn-warning" %>
      <% end %>
    <% end %>

  </div>
</div>
