<div class="col mb-4">
  <div class="card <%= file === @model.preview_file ? "border-primary" : "" %>"%>
    <% if file.is_image? %>
      <%= image_tag library_model_model_file_path(@library, @model, file, format: file.extension), class: "card-img-top image-preview", alt: file.name %>
    <% elsif renderable?(file.extension) %>
      <div class="card-img-top">
        <%= render partial: "object_preview", locals: { library: @library, model: @model, file: file } %>
      </div>
    <% elsif file.extension == 'txt' %>
      <pre>
        <%= render plain: File.read(File.join(@library.path, @model.path, file.filename),1024) %>
        
        [Fully rendered in Details]
      </pre>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= file.name %></h5>
      <%= form_with model: [@library, @model] do |form| %>
        <% if file.caption %>
          <p class="card-text"><%= sanitize file.caption %></p>
        <% end %>
        <%= link_to "Details", library_model_model_file_path(@library, @model, file), {class: "btn btn-primary"} %>
        <%= link_to icon('cloud-download', 'Download'), library_model_model_file_path(@library, @model, file, file.extension.to_sym), {class: "btn btn-secondary"} %>
        <%= form.hidden_field :preview_file_id, value: file.id %>
        <%= form.button icon('bookmark-heart', 'Set as preview'), class: "btn btn-secondary #{file == @model.preview_file ? "disabled" : ""}" %>
      <% end %>
    </div>
  </div>
</div>
