<%= form_with model: [@library, @model] do |form| %>
  <form>
    <div class="row mb-3">
      <%= form.label :name, class: "col-sm-2 col-form-label" %>
      <%= tag.div class: "col-sm-10" do %>
        <%= form.text_field :name, class: "form-control" %>
      <% end %>
    </div>

    <div class="row mb-3">
      <%= form.label :preview_part, class: "col-sm-2 col-form-label" %>
      <%= tag.div class: "col-sm-10" do %>
        <%= form.collection_select :preview_part_id, @model.parts, :id, :name, include_blank: true, class: "form-control" %>
        <div id="previewPartHelp" class="form-text">The part displayed as a model preview in library pages</div>
      <% end %>
    </div>

    <div class="row mb-3">
      <%= form.label :creator_id, class: "col-sm-2 col-form-label" %>
      <%= tag.div class: "col-sm-10" do %>
        <%= form.collection_select :creator_id, @creators, :id, :name, include_blank: true, class: "form-control" %>
        <div id="creatorHelp" class="form-text">Or <%= link_to "add a new Creator", new_creator_path %></div>
      <% end %>
    </div>

    <div id='links'>
      <%= form.fields_for :links do |f| %>
        <%= render 'link_fields', :f => f %>
      <% end %>
      <div class="row mb-3">
        <%= tag.div class: "col-sm-10 offset-sm-2" do %>
          <%= link_to_add_association 'add link', form, :links %>
        <% end %>
      </div>
    </div>

    <%= form.submit "Save", class: "btn btn-primary" %>
  </form>
<% end %>
