<%= form_with model: [@library, @model] do |form| %>
  <form>
    <div class="row mb-3 input-group">
      <%= form.label :name, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :name, class: "form-control col-auto" %>
    </div>

    <div class="row mb-3 input-group">
      <%= form.label :preview_file, class: "col-sm-2 col-form-label" %>
      <div class='col-sm-10 ps-0'>
        <%= form.collection_select :preview_file_id, @model.model_files, :id, :name, {}, {class: "form-control form-select"} %>
        <span id="previewFileHelp" class="form-text">The file displayed as a model preview in library pages</span>
      </div>
    </div>

    <div class="row mb-3 input-group">
      <%= form.label :creator_id, class: "col-sm-2 col-form-label" %>
      <%= form.collection_select :creator_id, @creators, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
      <%= link_to "New Creator", new_creator_path, class: "btn btn-outline-secondary col-auto" %>
    </div>

    <div class="row mb-3 input-group">
      <%= form.label :library_id, class: "col-sm-2 col-form-label" %>
      <%= form.collection_select :library_id, Library.all, :id, :name, {include_blank: false}, {class: "form-control col-auto form-select", disabled: @model.contains_other_models?} %>
    </div>

    <%= render 'tags_edit', :form => form, :name => "model[tag_list]", :value => (@model.tags.map { |tag| tag.name }).join(","), :label => "Tags", tags: @library.all_tags %>

    <div class="row mb-3 input-group">
      <%= form.label :collections, class: "col-sm-2 col-form-label" %>
      <%= form.collection_select :collection_id, Collection.all, :id, :name, {include_blank: true, multiple: true}, {class: "form-control col-auto form-select"} %>
    </div>

    <%= render 'links_form', :form => form %>

    <div class="row mb-3 input-group">
      <%= form.label :caption, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :caption, class: "form-control col-auto" %>
    </div>

    <div class="row mb-3 input-group">
      <%= form.label :notes, class: "col-sm-2 col-form-label" %>
      <%= form.text_area :notes, class: "form-control col-auto" %>
    </div>

    <%= form.submit "Save", class: "btn btn-primary" %>
  </form>
<% end %>
