<%= form_with model: @model, class: "grid grid-2-auto" do |form| %>
  <%= text_input_row form, :name %>

  <%= form.label :preview_file_id, class: "col-form-label" %>
  <div>
    <%= form.collection_select :preview_file_id, @model.model_files, :id, :name, {}, {class: "form-control form-select"} %>
    <span id="previewFileHelp" class="form-text"><%= t(".preview_file.help") %></span>
  </div>

  <%= form.label :creator_id, class: "col-form-label" %>
  <div class="input-group">
    <%= form.collection_select :creator_id, @creators, :id, :name, {include_blank: true}, {class: "form-control form-select"} %>
    <%= link_to t("creators.general.new"), new_creator_path, class: "btn btn-outline-secondary " if policy(:creator).new? %>
  </div>

  <%= form.label :library_id, class: "col-form-label" %>
  <div>
    <%= form.collection_select :library_id, Library.all, :id, :name, {include_blank: false}, {class: "form-control form-select", disabled: @model.contains_other_models?} %>
  </div>

  <%= render "tags_edit", form: form, name: "model[tag_list]", value: (@model.tags.map { |tag| tag.name }).join(","), label: translate(".tags"), tags: @model.library.all_tags %>

  <%= form.label :collection_id, class: "col-form-label" %>
  <div class="input-group">
    <%= form.collection_select :collection_id, @collections, :id, :name, {include_blank: true}, {class: "form-control form-select"} %>
    <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-outline-secondary " if policy(:collection).new? %>
  </div>

  <%= render "links_form", form: form %>
  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes %>

  <%= form.label :license, class: "col-form-label" %>
  <div>
    <%= form.select :license, license_select_options(selected: @model.license), {include_blank: true}, class: "form-control form-select" %>
    <br><%= errors_for @model, :license %>
  </div>

  <%= render "caber_relations_form", form: form %>

  <div class="g-start-2">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
