<%= form_with model: @model, class: "container-md tabular-form" do |form| %>
  <%= text_input_row form, :name %>
  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes, help: t(".notes.help_html") %>

  <%= collection_select_input_row form,
        :creator, @creators, :id, :name_with_domain,
        include_blank: t("general.none"),
        selected: @default_creator&.id,
        button: (if policy(:creator).new?
                   {
                     path: new_creator_path,
                     label: t("creators.general.new")
                   }
                 end) %>

  <div>
    <%= form.label :collection_ids, Collection.model_name.human(count: 100) %>
  </div>
  <div class="input-group">
    <%= form.collection_select :collection_ids, @collections,
          :public_id, :name_with_domain, {
            selected: @model.collections.map(&:public_id) + [@new_collection&.public_id].compact
          }, {
            multiple: true,
            class: "form-select",
            data: {controller: "collection-input", action: "turbo:morph@window->collection-input#reconnect"}
          } %>
    <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-secondary" %>
  </div>

  <%= render "tags_edit", form: form, name: "model[tag_list]", value: @model.tags.order(taggings_count: :desc, name: :asc).map { |tag| tag.name }.join(","), label: ActsAsTaggableOn::Tag.model_name.human(count: 100), tags: @available_tags %>
  <%= select_input_row form, :license, license_select_options(selected: @model.license), include_blank: t("general.none") %>
  <%= checkbox_input_row form, :sensitive %>

  <hr>
  <h4><%= t(".related_content") %></h4>

  <%= render "links_form", form: form %>

  <hr>
  <h4><%= t(".access") %></h4>

  <%= render "caber_relations_form", form: form %>
  <%= select_input_row form, :indexable, indexable_select_options(form.object) %>
  <%= select_input_row form, :ai_indexable, ai_indexable_select_options(form.object) if SiteSettings.allow_ai_bots %>

  <hr>
  <h4><%= t(".settings") %></h4>

  <% if SiteSettings.show_libraries || current_user&.is_administrator? %>
    <%= unless @model.contains_other_models?
          collection_select_input_row form,
            :library, policy_scope(Library).all, :id, :name
        end %>
  <% end %>
  <%= collection_select_input_row form, :preview_file, Naturally.sort_by(@model.valid_preview_files, :name_and_filename), :id, :name_and_filename, help: t(".preview_file.help") %>
  <%= collection_select_input_row form, :entrypoint, Naturally.sort_by(@model.three_d_files, :name_and_filename), :id, :name_and_filename, help: t(".entrypoint.help_html"), include_blank: true %>
  <%= text_input_row form, :entrypoint_fragment, help: t(".entrypoint_fragment.help") %>

  <div class="sticky-bottom text-end">
    <%= form.submit translate("general.save"), class: "btn btn-lg btn-primary mb-3" %>
  </div>
<% end %>
