<h1><%= t(".title") %></h1>

<p class="lead"><%= t(".description") %></p>

<%= form_with url: update_models_path, method: :patch do |form| %>

  <table class="table table-striped" data-bulk-edit>
    <tr>
      <th><input type="checkbox" aria-label="<%= translate ".select_all" %>" value="0" name="bulk-select-all"></th>
      <th><%= Model.human_attribute_name(:name) %></th>
      <th><%= Model.human_attribute_name(:collection) %></th>
      <th><%= Model.human_attribute_name(:tags) %></th>
      <th><%= Model.human_attribute_name(:creator) %></th>
      <th><%= t(".needs_organizing") %></th>
    </tr>
    <% @models.each do |model| %>
      <tr>
        <td><%= form.check_box "models[#{model.to_param}]", data: {bulk_item: model.to_param}, "aria-label": translate(".select", name: model.name) %></td>
        <td><%= link_to model.name, model, title: model.path %></td>
        <td><%= link_to model.collection.name, model.collection if model.collection %></td>
        <td><%= render "tag_list", tags: model.tags, model_id: model.to_param, show_count: false %></td>
        <td><%= link_to model.creator.name, model.creator if model.creator %></td>
        <td><%= icon("exclamation-triangle", t(".needs_organizing")) if model.needs_organizing? %></code></td>
      </tr>
    <% end %>
  </table>

  <p class="lead"><%= t ".form_subtitle" %></p>

  <%= render "bulk_fields", form: form %>

  <%= render "tags_edit", form: form, name: :remove_tags, value: "", label: translate(".remove_tags"), tags: @remove_tags || [] %>

  <div class="grid mb-3">
    <%= form.label :new_library_id, class: "g-col-sm-2 col-form-label" %>
    <div class="g-col-sm-10">
      <%= form.collection_select :new_library_id, Library.all, :id, :name, {include_blank: true}, {class: "form-control g-col-auto form-select"} %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :organize, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="form-switch">
        <%= form.check_box :organize, class: "form-check-input form-check-inline" %>
      </div>
    </div>
  </div>
  <% if @filters[:tag] %>
    <% @filters[:tag].each do |tag| %>
      <%= form.hidden_field :tag, multiple: true, value: tag %>
    <% end %>
  <% end %>
  <%= form.hidden_field :q, value: @filters[:q] if @filters[:q] %>
  <%= form.hidden_field :collection, value: @filters[:collection] if @filters[:collection] %>
  <%= form.hidden_field :library, value: @filters[:library] if @filters[:library] %>
  <%= form.hidden_field :creator, value: @filters[:creator] if @filters[:creator] %>
  <%= form.submit translate(".submit"), class: "btn btn-primary" %>

<% end %>
