<h1><%= t(".title") %></h1>

<p class="lead"><%= t(".description") %></p>

<%= form_with url: update_models_path, method: :patch do |form| %>

  <table class="table table-striped" data-bulk-edit>
    <tr>
      <th><input type="checkbox" aria-label="<%= t ".select_all" %>" value="0" name="bulk-select-all"></th>
      <th><%= Model.human_attribute_name(:name) %></th>
      <th><%= Model.human_attribute_name(:collection) %></th>
      <th><%= Model.human_attribute_name(:tags) %></th>
      <th><%= Model.human_attribute_name(:creator) %></th>
      <th><%= t(".needs_organizing") %></th>
    </tr>
    <% @models.each do |model| %>
      <tr>
        <td><%= form.check_box "models[#{model.id}]", data: {bulk_item: model.id.to_s}, "aria-label": t(".select", name: model.name) %></td>
        <td><%= link_to model.name, [model.library, model], title: model.path %></td>
        <td><%= link_to model.collection.name, model.collection if model.collection %></td>
        <td><%= render partial: "tag",
                  collection: (current_user.tag_cloud_settings["sorting"] == "alphabetical") ?
                    model.tags.sort_by(&:name) : model.tags.sort_by(&:name).reverse.sort_by(&:taggings_count).reverse,
                  locals: {state: :normal, model_id: model.id} %></td>
        <td><%= link_to model.creator.name, model.creator if model.creator %></td>
        <td><%= icon("exclamation-triangle", t(".needs_organizing")) if model.needs_organizing? %></code></td>
      </tr>
    <% end %>
  </table>

  <h2><%= t ".form_subtitle" %></h2>

  <div class="row mb-3">
    <%= form.label :creator_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= form.collection_select :creator_id, @creators, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
        <%= link_to t("creators.general.new"), new_creator_path, class: "btn btn-outline-secondary col-auto" if policy(:creator).new? %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :new_library_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :new_library_id, Library.all, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :license, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :license, license_select_options, {include_blank: true}, {class: "form-control col-auto form-select"} %>
    </div>
  </div>

  <%= render "tags_edit", form: form, name: :add_tags, value: "", label: t(".add_tags"), tags: @addtags || [] %>
  <%= render "tags_edit", form: form, name: :remove_tags, value: "", label: t(".remove_tags"), tags: @models.includes(:tags).map(&:tags).flatten.uniq.sort_by(&:name) %>

  <div class="row mb-3">
    <%= form.label :collection_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= form.collection_select :collection_id, @collections, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
        <%= link_to t("collections.general.new"), new_collection_path, class: "btn btn-outline-secondary col-auto" if policy(:collection).new? %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :organize, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="form-switch">
        <%= form.check_box :organize, class: "form-check-input form-check-inline" %>
      </div>
    </div>
  </div>
  <% if @filters[:tag] %>
    <% @filters[:tag].each do |tag| %>
      <%= form.hidden_field :tag, multiple: true, value: tag %>
    <% end %>
  <% end %>
  <%= form.hidden_field :q, value: @filters[:q] if @filters[:q] %>
  <%= form.hidden_field :collection, value: @filters[:collection] if @filters[:collection] %>
  <%= form.hidden_field :library, value: @filters[:library] if @filters[:library] %>
  <%= form.hidden_field :creator, value: @filters[:creator] if @filters[:creator] %>
  <%= form.submit t(".submit"), class: "btn btn-primary" %>

<% end %>
