<h1>Bulk Edit Models</h1>
<%= @tag %>

<%= form_with url: library_models_path(@library), method: :patch do |form| %>

  <h3>Select models to change:</h3>

  <table class='table table-striped'>
    <tr>
      <th>Update</th>
      <th>Name</th>
      <th>Creator</th>
    </tr>
    <% @models.each do |model| %>
      <tr>
        <td><%= form.check_box "models[#{model.id}]"%></td>
        <td><%= link_to model.name, [@library, model] %></td>
        <td><%= link_to model.creator.name, model.creator if model.creator %></td>
      </tr>
    <% end %>
  </table>

  <h3>Choose the changes to make:</h3>


  <div class="row mb-3 input-group">
    <%= form.label :creator_id, class: "col-sm-2 col-form-label" %>
    <%= form.collection_select :creator_id, @creators, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
    <%= link_to "New Creator", new_creator_path, class: "btn btn-outline-secondary col-auto" %>
  </div>
  <%= form.submit "Update Selected Models", class: "btn btn-primary" %>

<% end %>
