<h1>Bulk Edit Models</h1>

<%= form_with url: update_models_path, method: :patch do |form| %>

  <h3>Select models to change:</h3>

  <table class="table table-striped" data-bulk-edit>
    <tr>
      <th><input type="checkbox" aria-label="Select All" value="0" name="bulk-select-all"></th>
      <th>Name</th>
      <th>Collections</th>
      <th>Tags</th>
      <th>Creator</th>
      <th>Organize files</th>
    </tr>
    <% @models.each do |model| %>
      <tr>
        <td><%= form.check_box "models[#{model.id}]", { data: { bulk_item:  "#{model.id}"}}%></td>
        <td><%= link_to model.name, [model.library, model], title: model.path %></td>
        <td><%= link_to model.collection.name, model.collection if model.collection %></td>
        <td><%= render partial: 'tag', 
          collection: (SiteSettings.model_tags_cloud_sorting=="alphabetical") ?
            model.tags.sort_by(&:name) : model.tags.sort_by(&:name).reverse.sort_by(&:taggings_count).reverse,
            locals: {state: :normal, model_id: model.id } %></td>
        <td><%= link_to model.creator.name, model.creator if model.creator %></td>
        <td><code><%= model.formatted_path if model.formatted_path != model.path %></code></td>
      </tr>
    <% end %>
  </table>

  <h3>Select changes to make:</h3>

  <div class="row mb-3">
    <%= form.label :creator_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= form.collection_select :creator_id, @creators, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
        <%= link_to "New Creator", new_creator_path, class: "btn btn-outline-secondary col-auto" %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :new_library_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :new_library_id, Library.all, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
    </div>
  </div>

  <%= render 'tags_edit', :form => form, :name => :add_tags, :value => "", :label => "Add Tags", tags:  @addtags || [] %>
  <%= render 'tags_edit', :form => form, :name => :remove_tags, :value => "", :label => "Remove Tags", tags: @models.includes(:tags).map(&:tags).flatten.uniq.sort_by(&:name) %>

  <div class="row mb-3">
    <%= form.label :collection_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <%= form.collection_select :collection_id, @collections, :id, :name, {include_blank: true}, {class: "form-control col-auto form-select"} %>
        <%= link_to "New Collection", new_collection_path, class: "btn btn-outline-secondary col-auto" %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label "Organize files", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="form-switch">
        <%= form.check_box :organize, class: "form-check-input form-check-inline" %>
      </div>
    </div>
  </div>
  <% if @filters[:tag] %>
    <% @filters[:tag].each do |tag| %>
      <%= form.hidden_field :tag, multiple: true, value: tag %>
    <% end %>
  <% end %>
  <%= form.hidden_field :q, value: @filters[:q] if @filters[:q] %>
  <%= form.hidden_field :collection, value: @filters[:collection] if @filters[:collection] %>
  <%= form.hidden_field :library, value: @filters[:library] if @filters[:library] %>
  <%= form.hidden_field :creator, value: @filters[:creator] if @filters[:creator] %>
  <%= form.submit "Update Selected Models", class: "btn btn-primary" %>

<% end %>
