<div class="row row-cols-2">
  <div class="col-9">
    <div class="row row-cols-2 align-items-baseline">
      <div class="col col-auto me-auto">
        <h1><%= # @library.name
        %></h1>
      </div>
      <div class="col col-auto ">
        <a href="?order=name" class="btn <%= session["order"] == "name" ? "btn-primary" : "btn-light" %> btn-sm" title="sort by name"><i class="bi bi-book"></i></a>
        <a href="?order=recent" class="btn <%= session["order"] == "recent" ? "btn-primary" : "btn-light" %> btn-sm" title="sort by time"><i class="bi bi-clock"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-2">
  <div class="col-9">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render partial: 'model', collection: @models %>
    </div>
    <% if current_user.pagination_settings["models"] %>
      <%= paginate @models %>
    <% end %>
  </div>
  <div class="col-3">

    <%= card :secondary, "Actions" do %>
      <%= link_to "Bulk Edit", edit_models_path(@filters), class: 'btn btn-secondary mb-3 me-3' %>
    <% end %>

    <% if !@filters.empty?() %>
      <%= card :secondary, "Filters" do %>
        <% if @filters[:q] %>
        <%= sanitize 'Search on: <a class="badge rounded-pill bg-secondary tag">'+@filters[:q]+'</a>' if @filters[:q] %>
          <sup><%= link_to '&times;'.html_safe, @filters.except(:q), {class: "badge bg-danger rounded-circle"} %></sup><br />
        <% end %>
        <% if @filters[:collection] %>
          <%= sanitize "Collections: "+[*ActsAsTaggableOn::Tag.for_context(:collections).find(@filters[:collection])]
            .map{ |c| link_to c.name.titleize, models_path({collection: c.id}) }
            .join("") %>
          <sup><%= link_to '&times;'.html_safe, @filters.except(:collection), {class: "badge bg-danger rounded-circle"} %></sup><br />
        <% end %>
        <% if @filters[:library] %>
          <%= sanitize 'Library: '+[*@filters[:library]].map{ |l| Library.find(l).name.titleize }.join(", ") %>
          <sup><%= link_to '&times;'.html_safe, @filters.except(:library), {class: "badge bg-danger rounded-circle"} %></sup><br />
        <% end %>
        <% if @filters[:creator] %>
          <%= sanitize 'Creator: '+Creator.find(@filters[:creator]).name.titleize %>
          <sup><%= link_to '&times;'.html_safe, @filters.except(:creator), {class: "badge bg-danger rounded-circle"} %></sup><br />
        <% end %>
        <% if @filters[:tag] %>
          <%= sanitize 'Tags: ' %>
          <%= render partial: 'tag', collection: @tag, locals: {state: :normal} %>
          <sup><%= link_to '&times;'.html_safe, @filters.except(:tag), {class: "badge bg-danger rounded-circle"} %></sup><br />
        <% end %>
      <% end %>
    <% end %>

    <%= render 'tags_card', tags: @tags - (@tag||[]), muted_tags: @tags - @commontags %>

  </div>
</div>
