<h1><%= t ".title" %></h1>

<p><%= t ".description" %></p>

<%= form_with url: models_path, id: "upload-form" do |form| %>

  <% if SiteSettings.show_libraries %>
    <div class="row mb-3 input-group">
      <%= form.label :library, Library.model_name.human, class: "col-sm-2 col-form-label" %>
      <div class='col-sm-10 ps-0'>
        <%= form.select :library,
              policy_scope(Library).all.map { |lib| [library_select_title(lib), lib.to_param] },
              {include_blank: false, selected: Library.default.to_param},
              {class: "form-control form-select"} %>
        <span class="form-text"><%= t ".library.help" %></span>
      </div>
    </div>
  <% end %>

  <div class="row mb-3 input-group" data-turbo-permanent>
    <%= form.label :files, t(".files.label"), class: "col-sm-2 col-form-label" %>
    <div class='col-sm-10 ps-0'>
      <%= content_tag :div, nil, data: {
            controller: "upload",
            action: "turbo:morph@window->upload#reconnect",
            max_file_size: SiteSettings.max_file_upload_size,
            allowed_file_types: input_accept_string,
            upload_endpoint: upload_path
          } %>
    </div>
  </div>

  <%= render "bulk_fields", form: form, default_tags: SiteSettings.model_tags_auto_tag_new %>

  <div class="row mb-3">
    <%= form.label translate(".permission_preset"), for: :permission_preset, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :permission_preset, [
              [translate("settings.multiuser.default_viewer_role.options.private"), "private"],
              [translate("settings.multiuser.default_viewer_role.options.member"), "member"],
              [translate("settings.multiuser.default_viewer_role.options.public"), "public"],
            ],
            {selected: SiteSettings.default_viewer_role, include_blank: true},
            {class: "form-control col-auto form-select"} %>
    </div>
  </div>

  <div class="row mb-3 input-group">
    <div class='offset-sm-2 col-sm-10 ps-0'>
      <%= submit_tag translate(".submit"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
