<h1><%= @model.name %></h1>
<div class="row row-cols-2">

  <div class="col-9">
    <h2><a name="files">Files</a></h2>
    <div class="row row-cols-2 row-cols-md-3 mb-4">
      <%= render partial: "file", collection: @groups.delete(nil) %>
    </div>
    <% @groups.each_pair do |group, files| %>
      <h3><a name="<%= group.parameterize %>"><%= group %></a></h3>
      <div class="row row-cols-2 row-cols-md-3 mb-4">
        <%= render partial: "file", collection: files %>
      </div>
    <% end %>
  </div>

  <div class="col-3">

    <%= card :secondary, "Details" do %>
      <% if @model.creator %>
        <p>
          Creator: <%= link_to @model.creator.name, creator_path(@model.creator) %>
        </p>
      <% end %>
      <p>
        Path: <code><%= @model.path %></code>
      </p>
      <p>
        Scale: <%= number_to_percentage @model.scale_factor, strip_insignificant_zeros: true %>
      </p>
    <% end %>

    <%= card :secondary, "Actions" do %>
      <%= link_to "Edit Details", edit_library_model_path(@library, @model), class: "btn btn-primary" %>
    <% end %>

    <%= card :secondary, "Sections" do %>
      <a href="#files">Files</a>
      <ul>
        <% @groups.each_pair do |group, files| %>
          <li><a href="#<%= group.parameterize %>"><%= group %></a></li>
        <% end %>
      </ul>
    <% end %>

    <%= render 'tags_card', tags: @model.tags, selected: nil %>
    <%= render 'links_card', links: @model.links %>

    <% unless @model.parents.empty? %>
      <%= card :danger, "Merge" do %>
        <p>
          Merging moves all files from this model to the target, and removes this model. File metadata is preserved, but any model metadata will be lost!
        </p>
        <strong>Merge with:</strong>
        <% @model.parents.each do |target| %>
          <%= link_to target.name, merge_library_model_path(@library, @model, target: target.id), class: "btn btn-danger", method: :post %>
        <% end %>
      <% end %>
    <% end %>

  </div>

</div>
