<h1><a data-field="model[name]" data-path="<%= library_model_path(@model.library, @model) %>" contenteditable=true><%= @model.name %></a></h1>
<div class="row row-cols-2">

  <div class="col-9">
    <h2><a name="files">Files</a></h2>
    <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render partial: "file", collection: @groups.delete(nil) %>
    </div>
    <% @groups.each_pair do |group, files| %>
      <h3><a name="<%= group.parameterize %>"><%= group %></a></h3>
      <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
        <%= render partial: "file", collection: files %>
      </div>
    <% end %>
  </div>

  <div class="col-3">

    <%= card :secondary, "Details" do %>
      <% if @model.creator %>
        <p>
          <%= icon "person", "Creator" %>
          <%= link_to @model.creator.name, creator_path(@model.creator) %>
        </p>
      <% end %>
      <% if @model.collections.count > 0 %>
        <p>
          <%= icon "collection", "Collections" %>
          <%= @model.collections.map{ |c| link_to c.name.titleize, collection_path(c) }.join(', ').html_safe %>
        </p>
      <% end %>
      <% if @model.library %>
        <p>
          <%= icon "boxes", "Library" %>
          <%= link_to @model.library.name, @model.library %>
        </p>
      <% end %>
      <p>
        <%= icon "folder", "Path" %>
        <code><%= @model.path %></code>
      </p>
    <% end %>

    <%= card :secondary, "Actions" do %>
      <%= link_to "Edit Details", edit_library_model_path(@library, @model), class: "btn btn-primary" %>
      <%= link_to "Bulk Edit", edit_library_model_model_files_path(@library, @model), class: 'btn btn-secondary' %>
      <% unless @model.contains_other_models? %>
        <div class="modal fade" id="confirm-move" data-bs-backdrop='static' tabindex="-1" aria-labelledby="confirmMoveLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmMoveLabel">Organize files</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  The folder and files that make up this model will be moved from:<br>
                  <code><%= @model.path %></code><br>
                  to<br>
                  <code><%= @model.formatted_path %></code>
                </p>
                <p>
                  Are you sure you want to do this?
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel</button>
                <%= button_to "Yes, move the files", library_model_path(@library, @model, "model[organize]": true), method: :patch, class: "btn btn-warning" %>
              </div>
            </div>
          </div>
        </div>
        <%= button_tag "Organize Files", class: "btn btn-warning", "data-bs-toggle": "modal", "data-bs-target": "#confirm-move" %>
        <%= link_to "Search Yeggi", "https://yeggi.com/q/#{ERB::Util.url_encode(@model.name)}/", class: 'btn btn-secondary' %>
      <% end %>
    <% end %>

    <%= card(:secondary, 'Notes') do %>
      <p class="card-text"><%= sanitize @model.notes %></p>
    <% end if @model.notes %>

    <%= card :secondary, "Sections" do %>
      <a href="#files">Files</a>
      <ul>
        <% @groups.each_pair do |group, files| %>
          <li><a href="#<%= group.parameterize %>"><%= group %></a></li>
        <% end %>
      </ul>
    <% end %>

    <%= render 'tags_card', tags: @model.tags.sort_by(&:taggings_count) %>
    <%= render 'links_card', links: @model.links %>

    <% if @model.contains_other_models? %>
      <%= card :warning, "Contained Models" do %>
        <p>
          The model folder on disk contains other models. You may wish to merge them into this one, or move them out.
        </p>
        <ul>
          <% @model.contained_models.each do |target| %>
            <li><%= link_to target.name, library_model_path(@library, target)%></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <% unless @model.parents.empty? %>
      <%= card :danger, "Merge" do %>
        <p>
          Merging moves all files from this model to the target, and removes this model. File metadata is preserved, but any model metadata will be lost!
        </p>
        <strong>Merge with:</strong>
        <% @model.parents.each do |target| %>
          <%= link_to target.name, merge_library_model_path(@library, @model, target: target.id), class: "btn btn-danger", method: :post %>
        <% end %>
      <% end %>
    <% end %>

  </div>

</div>
