<h1><%= @model.name %></h1>
<div class="row row-cols-2">

  <div class="col-9">
    <div class="row row-cols-2 row-cols-md-3 mb-4">
      <%= render partial: "part", collection: @groups.delete(nil) %>
    </div>
    <% @groups.each_pair do |group, parts| %>
      <h3><%= group %></h3>
      <div class="row row-cols-2 row-cols-md-3 mb-4">
        <%= render partial: "part", collection: parts %>
      </div>
    <% end %>
  </div>

  <div class="col-3">

    <%= card :secondary, "Details" do %>
      <% if @model.creator %>
        <p>
          Creator: <%= link_to @model.creator.name, creator_path(@model.creator) %>
        </p>
      <% end %>
      <p>
        Path: <code><%= @model.path %></code>
      </p>
    <% end %>

    <%= card :secondary, "Actions" do %>
      <%= link_to "Edit Details", edit_library_model_path(@library, @model), class: "btn btn-primary" %>
    <% end %>

    <%= render 'tags_card', tags: @model.tags, selected: nil %>
    <%= render 'links_card', links: @model.links %>

  </div>

</div>
