<% content_for :head do %>
  <%= tag.meta property: "og:type", content: "website" %>
  <%= tag.meta property: "og:image", content: model_model_file_url(@model, @model.preview_file, format: @model.preview_file.extension) if @model.preview_file&.is_image? && !@model.sensitive %>
  <%= tag.meta name: "description", content: truncate(sanitize(@model.notes), length: 80) if @model.notes.present? %>
  <%= tag.meta name: "fediverse:creator", content: "@#{@model.creator.actor.at_address}" if @model.creator %>
<% end %>

<% content_for :page_header do %>
  <h1>
    <a data-field="model[name]" data-path="<%= model_path(@model) %>" contenteditable=true>
      <%= @model.name %>
    </a>
    <%= link_to icon("search", t(".search")),
          "https://yeggi.com/q/#{ERB::Util.url_encode(@model.name)}/",
          class: "btn btn-outline", target: "manyfold_search" %>
  </h1>
<% end %>

<% content_for :items do %>
  <%= render "image_carousel", images: @images %>

  <%= card(:secondary) do %>
    <p class="card-text"><%= markdownify @model.notes %></p>
  <% end if @model.notes.present? %>

  <h2><a name="files"><%= t(".files") %></a></h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
    <%= render partial: "file", collection: @groups.delete(nil) %>
  </div>
  <% @groups.each_pair do |group, files| %>
    <h3><a name="<%= group.parameterize %>"><%= group.careful_titleize %></a></h3>
    <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render partial: "file", collection: files %>
    </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= card :secondary, t(".model_details") do %>
    <table class="table table-borderless table-sm">
      <% if @model.creator %>
        <tr>
          <td><%= icon "person", Creator.model_name.human %></td>
          <td><%= link_to @model.creator.name, @model.creator %></td>
        </tr>
      <% end %>
      <% if @model.collection %>
        <tr>
          <td><%= icon "collection", Collection.model_name.human(count: 100) %></td>
          <td><%= link_to @model.collection.name, models_path((@filters || {}).merge(collection: @model.collection)) %></td>
        </tr>
      <% end %>
      <% if @model.library %>
        <tr>
          <td><%= icon "boxes", Library.model_name.human %></td>
          <td><%= link_to @model.library.name, models_path((@filters || {}).merge(library: @model.library)) %></td>
        </tr>
      <% end %>
      <% if @model.license %>
        <tr>
          <td><%= icon "card-heading", t(".license") %></td>
          <td>
            <%= Spdx.licenses[@model.license]&.fetch("reference") ?
              link_to(t_license(@model.license), Spdx.licenses[@model.license]["reference"]) :
              t_license(@model.license) %>
          </td>
        </tr>
      <% end %>
      <% if @model.sensitive %>
        <tr>
          <td><%= icon("explicit", Model.human_attribute_name(:sensitive)) %></td>
          <td>
            <%= Model.human_attribute_name(:sensitive) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><%= icon "folder", t(".path") %></td>
        <td>
          <code><%= @model.path %></code>
          <% unless @model.contains_other_models? %>
            <%= button_tag(t(".organize.button_text"), class: "btn btn-warning btn-sm float-end", "data-bs-toggle": "modal", "data-bs-target": "#confirm-move") if @model.needs_organizing? && policy(@model).edit? %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= icon "tag", t(".tags") %></td>
        <td><%= render "tag_list", tags: @model.tags.order(taggings_count: :desc, name: :asc) %></td>
      </tr>
    </table>
    <%= link_to safe_join([icon("pencil", t("general.edit")), t("general.edit")], " "), edit_model_path(@model), class: "btn btn-primary" if policy(@model).edit? %>
    <%= link_to safe_join([icon("trash", t("general.delete")), t("general.delete")], " "), model_path(@model), {method: :delete, class: "float-end btn btn-outline-danger", data: {confirm: translate("models.destroy.confirm")}} if policy(@model).destroy? %>
  <% end %>

  <div class="mb-3 w-100 text-center">
    <div class="btn-group ml-auto mr-auto">
      <%= link_to safe_join([icon("cloud-download", ""), t(".download.label")], " "), model_path(@model, format: @download_format), class: "btn btn-lg btn-primary", download: "download" %>
      <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Download options</span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header"><%= t(".download.menu_header") %></li>
        <% if @has_supported_and_unsupported %>
          <%= content_tag(:li) { link_to t(".download.supported"), model_path(@model, format: @download_format, selection: "supported"), class: "dropdown-item", download: "download" } %>
          <%= content_tag(:li) { link_to t(".download.unsupported"), model_path(@model, format: @download_format, selection: "unsupported"), class: "dropdown-item", download: "download" } %>
          <li><hr class="dropdown-divider"></li>
        <% end %>
        <% @extensions&.each do |type| %>
          <%= content_tag(:li) { link_to t(".download.file_type", type: type.upcase), model_path(@model, format: @download_format, selection: type), class: "dropdown-item", download: "download" } %>
        <% end %>
      </ul>
    </div>
  </div>

  <% if !@model.parents.empty? && policy(@model).merge? %>
    <%= card :danger, t(".merge.heading") do %>
      <p>
        <%= t(".merge.warning") %>
      </p>
      <strong><%= t(".merge.with") %>:</strong>
      <% @model.parents.each do |target| %>
        <%= link_to target.name, merge_model_path(@model, target: target), class: "btn btn-danger", method: :post %>
      <% end %>
    <% end %>
  <% end %>

  <%= render partial: "problem", collection: @model.problems.visible(problem_settings) %>

  <%= card :secondary, t(".files_card.heading") do %>
    <a href="#files">Top</a>
    <ul>
      <% @groups.each_pair do |group, files| %>
        <li><a href="#<%= group.parameterize %>"><%= group.careful_titleize %></a></li>
      <% end %>
    </ul>
    <%= link_to t(".files_card.bulk_edit"), bulk_edit_model_model_files_path(@model), class: "btn btn-secondary" if policy(@model).edit? %>
    <%= link_to t(".rescan"), scan_model_path(@model), class: "btn btn-warning", method: :post if policy(@model).scan? %>
  <% end %>

  <%= render "links_card", links: @model.links %>

  <div class="modal fade" id="confirm-move" data-bs-backdrop='static' tabindex="-1" aria-labelledby="confirmMoveLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="confirmMoveLabel"><%= t(".organize.button_text") %></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            <%= t(".organize.confirm.summary_html", from: @model.path, to: @model.formatted_path) %>
          </p>
          <p>
            <%= t(".organize.confirm.are_you_sure") %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(".organize.confirm.no") %></button>
          <%= button_to t(".organize.confirm.yes"), model_path(@model, "model[organize]": true), method: :patch, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </div>

  <% if policy(@model).edit? && policy(:upload).create? %>
    <%= card :warning, t(".upload_card.heading") do %>
      <%= form_with url: model_model_files_path(@model), id: "upload-form", class: "d-grid" do |form| %>

        <%= content_tag :div, nil,
              id: "uppy",
              class: "mb-3",
              "data-max-file-size": SiteSettings.max_file_upload_size,
              "data-allowed-file-types": input_accept_string %>

        <%= submit_tag translate(".submit"), class: "btn btn-primary d-block" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
