<h1><%= @model.name %></h1>

<div class="col-3">

  <p><%= @model.path %></p>

  <%= link_to "Edit", edit_library_model_path(@library, @model) %>

  <div>
    <% @model.tags.each do |tag| %>
      <span class="badge rounded-pill bg-info text-dark"><%= tag.name %></span>
    <% end %>
  </div>

  <%= link_to @model.creator.name, creator_path(@model.creator) if @model.creator %>

  <ul>
    <% @model.links.each do |link| %>
      <li><%= link_to link.url, link.url %></li>
    <% end %>
  </ul>

</div>


<div class="row row-cols-2 row-cols-md-4 mb-4">
  <%= render partial: "part", collection: @groups.delete(nil) %>
</div>
<% @groups.each_pair do |group, parts| %>
  <h3><%= group %></h3>
  <div class="row row-cols-2 row-cols-md-4 mb-4">
    <%= render partial: "part", collection: parts %>
  </div>
<% end %>
