<%= form_with model: @application, class: "container-md tabular-form" do |form| %>
  <%= text_input_row form, :name, autofocus: true %>
  <%= text_input_row form, :redirect_uri, help: t(".redirect_uri.help") %>
  <%= select_input_row form, :scopes,
        ["public", "read", "write", "delete"],
        label: t(".scopes.label"),
        multiple: true %>
  <%= checkbox_input_row form, :confidential, help: t(".confidential.help") %>
  <div>
    <%= form.submit translate(".submit"), class: "btn btn-primary" %>
  </div>
<% end %>
