<h1><%= t("oauth_applications.index.title") %></h1>

<table class="table table-striped">
	<tr>
		<td><%= t ".name" %></td>
		<%= content_tag(:td) { t ".owner" } if current_user.is_moderator? %>
		<td><%= t ".scopes" %></td>
		<td><%= t ".created" %></td>
	</tr>
	<% @applications.find_each do |app| %>
		<tr>
			<td><%= link_to app.name, app %></td>
			<%= content_tag(:td) { app.owner.username } if current_user.is_moderator? %>
			<td><%= app.scopes %></td>
			<td><%= app.created_at.to_formatted_s(:long) %></td>
		</tr>
	<% end %>
</table>

<%= link_to t(".new"), new_doorkeeper_application_path %>
