<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to @model.name, [@library, @model] %></li>
  </ol>
</nav>
<h1><%= @part.name %></h1>

<div class="row row-cols-2">

  <div class="col-9">
    <canvas id="preview-part-<%= @part.id %>" data-preview data-preview-url="<%= library_model_part_path(@library, @model, @part, @part.file_format.to_sym) %>" data-format="<%= @part.file_format %>">
    </canvas>
  </div>

  <div class="col-3">
    <%= card :secondary, "Details" do %>
      <p>
        Filename: <code><%= @part.filename %></code>
      </p>
      <%= render 'form' %>
    <% end %>

    <%= card :secondary, "Actions" do %>
      <%= link_to "Download", library_model_part_path(@library, @model, @part, @part.file_format.to_sym), {class: "btn btn-secondary"} %>
    <% end %>

  </div>
</div>
