<%= form.fields_for :pagination_settings do |pagination_settings_form| %>
  <div class="card mb-2">
    <h3 class="card-header"><%= t(".heading") %></h3>
    <div class="card-body tabular-form">
      <%= SelectInputRow form: form, attribute: :sort_order, label: t("components.sort_menu.sort-by"), select_options: [
            [t("components.sort_menu.name"), "name"],
            [t("components.sort_menu.recent"), "recent"],
            [t("components.sort_menu.updated"), "updated"]
          ] %>
      <div>
        <%= pagination_settings_form.label :per_page, t(".per_page.label"), class: "col-form-label" %>
      </div>
      <div>
        <%= pagination_settings_form.number_field :per_page, value: pagination_settings["per_page"], in: 1..100, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>
