<%= form.fields_for :tag_cloud_settings do |tag_cloud_settings_form| %>
  <div class="card mb-2">
    <h3 class="card-header"><%= t(".heading") %></h3>
    <div class="card-body tabular-form">
      <div>
        <%= tag_cloud_settings_form.label :threshold, t(".threshold.label"), class: "col-form-label" %>
      </div>
      <div>
        <%= tag_cloud_settings_form.number_field :threshold, value: tag_cloud_settings["threshold"], class: "form-control" %>
      </div>
      <div>
        <%= tag_cloud_settings_form.label :heatmap, t(".heatmap.label") %>
      </div>
      <div class="form-check form-switch">
        <%= tag_cloud_settings_form.check_box :heatmap, checked: tag_cloud_settings["heatmap"], class: "form-check-input" %>
      </div>
      <div>
        <%= tag_cloud_settings_form.label :sorting, t(".sorting.label"), class: "col-form-label" %>
      </div>
      <div>
        <%= tag_cloud_settings_form.select :sorting,
              [[t(".sorting.frequency"), nil], [t(".sorting.alphabetical"), "alphabetical"]],
              {selected: tag_cloud_settings["sorting"]},
              class: "form-select" %>
      </div>
      <div>
        <%= tag_cloud_settings_form.label :keypair, t(".keypair.label") %>
      </div>
      <div class="form-check form-switch">
        <%= tag_cloud_settings_form.check_box :keypair, checked: tag_cloud_settings["keypair"], class: "form-check-input" %>
      </div>
    </div>
  </div>
<% end %>
