<h2><%= t(".title") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <div class="grid mb-4">
    <div class="g-col-12 g-col-sm">
      <div class="card mb-2">
        <h4 class="card-header"><%= t(".security") %></h4>
        <div class="card-body">
          <%= password_input_row f, :password, autocomplete: "new-password" %>
          <%= password_input_row f, :password_confirmation, autocomplete: "new-password" %>
          <%= password_input_row f, :current_password, autocomplete: "current-password",
                help: t(".current_password_help") %>
        </div>
      </div>
    </div>
    <div class="g-col-12 g-col-sm">
      <div class="card mb-2">
        <h4 class="card-header"><%= t(".contact_info") %></h4>
        <div class="card-body">
          <%= text_input_row f, :email, autofocus: true, autocomplete: "email",
                help: (devise_mapping.confirmable? && resource.pending_reconfirmation?) ?
                  t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) :
                  nil %>
        </div>
      </div>
      <%- if SiteSettings.multiuser_enabled? %>
        <div class="card border-danger mt-3">
          <h4 class="card-header text-bg-danger"><%= t ".danger_zone" %></h4>
          <div class="card-body">
            <p class="card-text">
              <%= link_to t(".cancel_my_account"),
                    registration_path(resource_name),
                    data: {confirm: translate(".confirm_deletion"), turbo_confirm: translate(".confirm_deletion")},
                    method: :delete,
                    class: "btn btn-danger" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid mb-4">
    <div class='col'>
      <button type="submit" class="btn btn-primary"><%= icon("save", t(".submit")) %> <%= t(".submit") %></button>
    </div>
  </div>

<% end %>
