<h1><%= t(".sign_up") %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= text_input_row form, :email, autofocus: true, autocomplete: "email" %>
  <%= text_input_row form, :username, autocomplete: "username" %>
  <%= password_input_row form, :password, autocomplete: "new-password" %>
  <%= password_input_row form, :password_confirmation, autocomplete: "new-password" %>
  <%= content_tag :div, t(".approval_help"), class: "alert alert-info" if SiteSettings.approve_signups %>
  <%= form.submit translate(".sign_up"), class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
