<h3><%= t(".title") %></h3>

<p class="lead"><%= t(".description") %></p>

<table class="table table-striped">
  <tr>
    <th><%= Federails::Moderation::Report.human_attribute_name(:object) %></th>
    <th><%= Federails::Moderation::Report.human_attribute_name(:federails_actor) %></th>
    <th><%= Federails::Moderation::Report.human_attribute_name(:created_at) %></th>
    <th></th>
  </tr>
  <% @reports.each do |report| %>
    <tr>
      <td>coming soon...</td>
      <td><%= report.federails_actor&.at_address %></td>
      <td><%= report.created_at %></td>
      <td><%= link_to safe_join([icon("search", t("general.view")), t("general.view")], " "), settings_report_path(report), {class: "float-end btn btn-primary"} %></td>
    </tr>
  <% end %>
</table>
