<%= PageTitle title: t(".title"), breadcrumbs: {
      t("doorkeeper_applications.index.title") => doorkeeper_applications_path,
      t("doorkeeper_applications.show.title") => doorkeeper_application_path(@application)
    } %>

<p><%= t(".description") %></p>

<table class="table table-striped">
  <tr>
    <th><%= Doorkeeper::AccessToken.human_attribute_name(:fingerprint) %></th>
    <td><%= token_fingerprint(@token) %></td>
  </tr>
  <tr>
    <th><%= Doorkeeper::AccessToken.human_attribute_name(:expires_in) %></th>
    <td><%= token_expiry_string(@token) %></td>
  </tr>
  <tr>
    <th><%= Doorkeeper::AccessToken.human_attribute_name(:scopes) %></th>
    <td><%= @token.scopes %></td>
  </tr>
  <tr>
    <th><%= Doorkeeper::AccessToken.human_attribute_name(:token) %></th>
    <td><%= CopyableText text: @plaintext_token, obfuscated: true %></td>
  </tr>
</table>

<div>
  <p><%= t(".bearer_token_help") %></p>
  <code>Authentication: Bearer your_token_goes_here</code>
</div>

<div class="mt-3">
  <%= GoButton href: doorkeeper_application_path(@application), label: t(".done"), variant: "primary" %>
</div>
