<%= form_with model: [creator, group], class: "container-md tabular-form" do |form| %>
  <%= TextInputRow(form: form, attribute: :name, label: Group.human_attribute_name(:name)) %>
  <%=	RichTextInputRow(form: form, attribute: :description, label: Group.human_attribute_name(:description)) %>

  <div>
		<%= form.label :memberships %>
	</div>
  <div>
		<%= cocooned_container id: "cocooned-memberships", data: {controller: "cocooned"} do
			form.fields_for :memberships do |f|
				render "membership_fields", f: f
			end
		end %>
		<%= cocooned_add_item_button t(".add"), form, :memberships,
				class: "btn btn-secondary",
				insertion_node: "#cocooned-memberships",
				insertion_method: "append" %>
  </div>

	<div>
		<%= form.submit class: "btn btn-primary" %>
		<% if group.persisted? && policy(group).destroy? %>
			<%= link_to creator_group_path(creator, group), {
				method: :delete,
				class: "float-end btn btn-outline-danger",
				data: {confirm: translate("views.groups.form.confirm_destroy")}
			} do %>
				<%= Icon(icon: "trash", label: t("general.delete")) %>
				<%= t("general.delete") %>
			<% end %>
		<% end %>
	</div>
<% end %>
