<h2><%= t(".forgot_your_password") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "tabular-form"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= text_input_row f, :email, autocomplete: "email", autofocus: true %>
  <div>
    <%= f.submit translate(".send_me_reset_password_instructions"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
