  <p>
    <%= t ".description" %>
  </p>
  <ul>
    <li>
      <code>{tags}</code>: <%= t ".tokens.tags_html" %>
    </li>
    <li>
      <code>{creator}</code>: <%= t ".tokens.creator" %>
    </li>
    <li>
      <code>{collections}</code>: <%= t ".tokens.collections" %>
    </li>
    <li>
      <code>{modelName}</code>: <%= t ".tokens.model_name" %>
    </li>
    <li>
      <code>{modelId}</code>: <%= t ".tokens.model_id" %>
    </li>
  </ul>
