<h1><%= t("libraries.general.new") %></h1>

<%= form_with model: @library do |form| %>
  <%= text_input_row form, :name %>
  <%= text_input_row form, :caption, help: t(".caption.help") %>
  <%= text_input_row form, :icon, help: t(".icon.help_html") %>
  <%= rich_text_input_row form, :notes %>
  <div class="row mb-3 input-group">
    <%= form.label :storage_service, class: "col-sm-2 col-form-label" %>
    <div class='col-sm-10 ps-0'>
      <%= form.select :storage_service, Library::STORAGE_SERVICES.map { |x| [translate("libraries.storage_services.%{service}" % {service: x}), x] }, {}, {class: "form-control col-auto form-select"} %>
    </div>
  </div>
  <div id="options-filesystem" class="card p-3 mb-3">
    <div class="row">
      <p><%= t ".filesystem_description_html" %></p>
    </div>
    <%= text_input_row form, :path, placeholder: t(".path.placeholder") %>
  </div>
  <%= form.submit t("general.save"), class: "btn btn-primary" %>
<% end %>
