<h1><%= t("libraries.general.new") %></h1>

<%= form_with model: @library do |form| %>
  <%= text_input_row form, :name %>
  <%= text_input_row form, :caption %>
  <%= text_input_row form, :icon %>
  <%= rich_text_input_row form, :notes %>
  <div class="row mb-3 input-group">
    <%= form.label :path, class: "col-sm-2 col-form-label" %>
    <div class='col-sm-10 ps-0'>
      <%= form.text_field :path, class: "form-control", placeholder: t(".path.placeholder") %>
      <% if @library.errors.include?(:path) %>
        <%= tag.div @library.errors.full_messages_for(:path).join("; "), class: "invalid-feedback" %>
      <% else %>
        <small id="pathHelp" class="form-text text-muted"><%= t(".path.help") %></small>
      <% end %>
    </div>
  </div>
  <%= form.submit t("general.save"), class: "btn btn-primary" %>
<% end %>
