<h1>New Library</h1>

<%= form_with model: @library do |form| %>

  <div class="row mb-3 input-group">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :name, class: "form-control col-auto" %>
  </div>

  <div class="row mb-3 input-group">
    <%= form.label :caption, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :caption, class: "form-control col-auto" %>
  </div>

  <div class="row mb-3 input-group">
    <%= form.label :notes, class: "col-sm-2 col-form-label" %>
    <%= form.text_area :notes, class: "form-control col-auto" %>
  </div>

  <div class="row mb-3 input-group">
    <%= form.label :path, class: "col-sm-2 col-form-label" %>
    <div class='col-sm-10 ps-0'>
      <%= form.text_field :path, class: 'form-control', placeholder:"Filesystem path" %>
      <% if @library.errors.include?(:path) %>
        <%= tag.div @library.errors.full_messages_for(:path).join("; "), class: "invalid-feedback" %>
      <% else %>
        <small id="pathHelp" class="form-text text-muted">The complete path to your library on disk.</small>
      <% end %>
    </div>
  </div>

  <%= form.submit "Save", class: 'btn btn-primary' %>

<% end %>
