<%= link_to "Rescan", library_path(@library), method: :patch, class: 'float-end btn btn-warning' %>
<h1><%= @library.name %></h1>
<div class="row row-cols-2">
  <div class="col-9">
    <div class="row row-cols-2 row-cols-md-3 mb-3">
      <% @models.each do |model| %>
        <div class="col mb-4">
          <div class="card">
            <% if part = model.preview_part %>
              <canvas id="preview-part-<%= part.id %>" class="card-img-top" data-preview data-preview-url="<%= library_model_part_path(@library, model, part, part.file_format.to_sym) %>" data-format="<%= part.file_format %>">
              </canvas>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= model.name %></h5>
              <%= link_to "Open", [@library, model], {class: "btn btn-primary"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-3">
    <h5>Tags</h5>
    <% @tags.each do |tag| %>
      <% if (tag == @tag) %>
        <%=link_to tag.name, @library, {class: "badge rounded-pill bg-success"} %>
      <% else %>
        <%=link_to tag.name, [@library, tag: tag.name], {class: "badge rounded-pill bg-secondary"} %>
      <% end %>
    <% end %>
  </div>
</div>
