<h1><%= @library.name %></h1>
<div class="row row-cols-2">
  <div class="col-9">
    <div class="row row-cols-2 row-cols-md-3 mb-4">
      <%= render partial: 'model', collection: @models %>
    </div>
  </div>
  <div class="col-3">

    <%= render 'tags_card', tags: @tags, selected: @tag %>

    <%= card :secondary, "Actions" do %>
      <%= link_to "Rescan", library_path(@library), method: :patch, class: 'btn btn-warning mb-3 me-3' %>
      <%= link_to "New Library", new_library_path, class: 'btn btn-secondary mb-3 me-3' %>
      <%= link_to 'Delete', @library, method: :delete, data: {confirm: "Are you sure? Your files will not be affected."}, class: "btn btn-danger mb-3 me-3" %>
      <%= link_to "Bulk Edit", edit_library_models_path(@library, tag: @tag&.name), class: 'btn btn-secondary mb-3 me-3' %>
    <% end %>

  </div>
</div>
