<div class="card">
  <h2 class="card-header">
    <%= Icon icon: "search" %>
    <%= t ".title" %>
  </h2>

  <div class="card-body">
    <p>
      <%= t ".content" %>
    </p>
    <%= content_tag(:p) { t ".more_access" } if current_user && !current_user&.is_contributor? %>
    <div class="text-end">
      <%= GoButton(label: t(".manual_link"), href: "https://manyfold.app/manual", variant: :primary, icon: "box-arrow-up-right") %>
    </div>
  </div>

</div>
