<div class="card">
  <h2 class="card-header">
    ⁂
    <%= t ".title" %>
  </h2>

  <div class="card-body">
    <p>
      <%= t ".content_html" %>
    </p>
    <p>
      <%= t ".handle_html", handle: current_user.federails_actor.at_address %>
      <%= render Components::CopyButton.new text: current_user.federails_actor.at_address %>
    </p>
    <p>
      <%= t ".following" %>
    </p>
  </div>

</div>
