<div class="card">
  <h2 class="card-header">
    <%= Icon icon: "send" %>
    <%= t ".title" %>
  </h2>

  <div class="card-body">
    <p>
      <%= t ".content" %>
    </p>
    <%- if current_user.creators.empty? %>
      <p>
        <%= t ".new_creator.content" %>
      </p>
      <div class="text-end">
        <%= GoButton(label: t(".new_creator.button"), href: new_creator_path, variant: :primary, icon: "box-arrow-up-right") %>
      </div>
    <%- else %>
      <p>
        <%= t ".existing_creator.content" %>
      </p>
      <div class="text-end">
        <%= GoButton(label: t(".existing_creator.button"), href: edit_creator_path(current_user.creators.first), variant: :primary, icon: "box-arrow-up-right") %>
      </div>
    <%- end %>
  </div>

</div>
