<div class="row mb-3 text-center">
  <h1 class="d-none d-md-block"><%= site_name %></h1>
  <p class='lead'><%= site_tagline %></p>
  <% if SiteSettings.demo_mode_enabled? %>
    <div class="alert alert-info">
      <%= t "application.demo_mode" %>
    </div>
  <% end %>
  <div id="home-search" class="col-8 offset-md-2 mt-3 mb-3" data-turbo-permanent>
    <%= form_with url: models_path, method: :get do |f| %>
      <div class="input-group">
        <%= f.text_field :q, class: "form-control", placeholder: translate(".search.placeholder"), aria_label: translate(".search.submit"), aria_describedby: "button-search", value: @query, role: "search" %>
        <%= f.submit translate(".search.submit"), class: "btn btn-primary", name: nil %>
      </div>
      <%= SearchHelp do %>
        <small class="ms-3"><%= t(".open_search_help") %></small>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row row-cols-2">
  <div class="col-8 offset-md-2">
    <% if !@feed.empty? %>
      <p class="lead"><%= t(".recent_activity") %></p>
      <%= render partial: "activity", collection: @feed %>
    <% else %>
      <div class="alert alert-info">
        <%= t(".no_activities") %>
      </div>
    <% end %>
  </div>
</div>
