<div class="row bg-light mb-5 text-center">
  <h1>VanDAM</h1>
  <p class='lead'>Helping you keep track of your 3d print files</p>
  <div class="col-8 offset-md-2">
    <%= form_with url: models_path, method: :get, class: "mt-3" do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :q, class: "form-control", placeholder: "What are you looking for?", aria_label: "Search", aria_describedby: "button-search", value: @query, autofocus: true %>
        <%= f.submit 'Search', class: "btn btn-primary", name: nil %>
      </div>
    <% end %>
  </div>
</div>
<% if @recent %>
  <div class="row row-cols-2">
    <div class="col-8 offset-md-2">
      <p class="lead">Recently-added Models</p>
      <table class="table">
        <% @recent.each do |model| %>
        <tr>
          <td>
            <%= link_to model.name, library_model_path(model.library, model) %>
            <%= content_tag :span, "new", class: "badge rounded-pill bg-info" if model.tag_list.include? SiteSettings.model_tags_auto_tag_new %>
          </td>
          <td><%= link_to model.library.name, model.library %></td>
          <td><%= time_ago_in_words(model.created_at) %> ago</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
