<div class="card mb-2">
  <h3 class="card-header"><%= t(".heading") %></h3>
  <div class="card-body">
    <%= link_to safe_join([icon("tools", t(".activeadmin")), t(".activeadmin")], " "),
          admin_root_path,
          class: "btn btn-danger mb-3" %>
    <%= link_to safe_join([icon("activity", t(".sidekiq")), t(".sidekiq")], " "),
          sidekiq_web_path,
          class: "btn btn-danger mb-3" %>
    <%= unless Rails.env.test?
          link_to safe_join([icon("graph-up", t(".performance")), t(".performance")], " "),
            rails_performance_path,
            class: "btn btn-danger mb-3"
        end %>
    <%= if defined?(ActiveRecord::ConnectionAdapters::PostgreSQLAdapter) && ApplicationRecord.connection.is_a?(ActiveRecord::ConnectionAdapters::PostgreSQLAdapter)
          link_to safe_join([icon("database", t(".pghero")), t(".pghero")], " "),
            pg_hero_path,
            class: "btn btn-danger mb-3"
        end %>
  </div>
</div>
