<h3><%= t(".title") %></h3>
<p class='lead'>
  <%= t ".summary" %>
</p>
<p>
  <%= t ".details" %>
</p>
<ul>
  <li>
    <code>{tags}</code>: <%= t ".tokens.tags_html" %>
  </li>
  <li>
    <code>{creator}</code>: <%= t ".tokens.creator" %>
  </li>
  <li>
    <code>{collection}</code>: <%= t ".tokens.collection" %>
  </li>
  <li>
    <code>{modelName}</code>: <%= t ".tokens.model_name" %>
  </li>
  <li>
    <code>{modelId}</code>: <%= t ".tokens.model_id" %>
  </li>
</ul>
<div class="tabular-form">
  <div>
    <%= form.label "folders[model_path_template]", t(".model_path_template.label"), class: "col-form-label" %>
  </div>
  <div>
    <%= form.text_field "folders[model_path_template]", value: SiteSettings.model_path_template, class: "form-control" %>
  </div>
  <div>
    <%= form.label "folders[parse_metadata_from_path]", t(".parse_metadata_from_path.label") %>
  </div>
  <div class="form-check form-switch">
    <%= form.check_box "folders[parse_metadata_from_path]", checked: SiteSettings.parse_metadata_from_path, class: "form-check-input" %>
    <small><%= t ".parse_metadata_from_path.help" %></small>
  </div>
  <div>
    <%= form.label "folders[safe_folder_names]", t(".safe_folder_names.label") %>
  </div>
  <div class="form-check form-switch">
    <%= form.check_box "folders[safe_folder_names]", checked: SiteSettings.safe_folder_names, class: "form-check-input" %>
    <small><%= t(".safe_folder_names.help_html") %></small>
  </div>
</div>
