<div class="card mb-2">
  <h3 class="card-header"><%= t(".heading") %></h3>
  <div class="card-body">
    <%= link_to t("libraries.general.new"), new_library_path, class: "btn btn-secondary float-end" if policy(:library).new? %>
    <p class='lead'>
      <%= t(".description") %>
    </p>
    <div class="row">
      <% Library.find_each do |library| %>
       <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <%= icon library.icon, library.icon %>
            <%= library.name %>
          </div>
          <div class="card-body">
            <%= link_to t("general.edit"), edit_library_path(library), {class: "btn btn-secondary float-end #{policy(:library).edit? ? "" : "disabled"}"} %>
            <p>
              <%= markdownify(library.notes) %>
            </p>
            <table class="table">
              <tr>
                <td><%= t("activerecord.attributes.library.storage_service") %></td>
                <td><%= t("libraries.storage_services.%{service}" % {service: library.storage_service}) %></td>
              </tr>
              <% if library.storage_service == "filesystem" %>
                <tr>
                  <td><%= t("activerecord.attributes.library.path") %></td>
                  <td><code style="word-break: break-all"><%= library.path %></code></td>
                </tr>
              <% end %>
              <% if library.storage_service == "s3" %>
                <tr>
                  <td><%= t("activerecord.attributes.library.s3_endpoint") %></td>
                  <td><%= library.s3_endpoint %></td>
                </tr>
                <tr>
                  <td><%= t("activerecord.attributes.library.s3_bucket") %></td>
                  <td><%= library.s3_bucket %></td>
                </tr>
                <tr>
                  <td><%= t("activerecord.attributes.library.s3_region") %></td>
                  <td><%= library.s3_region %></td>
                </tr>
              <% end %>
              <% if library.free_space %>
                <tr>
                  <td><%= t(".free_space.label") %></td>
                  <td><%= number_to_human_size(library.free_space, precision: 2) %></td>
                </tr>
              <% end %>
              <tr>
                <td><%= t("activerecord.attributes.library.caption") %></td>
                <td><%= library.caption %></td>
              </tr>
              <tr>
                <td><%= t("activerecord.attributes.library.tag_regex") %></td>
                <td>
                  <% library.tag_regex.each do |reg| %>
                    <%= link_to t(".tag_regex.check"), models_path(library: library, missingtag: reg), {class: "btn btn-outline-secondary"} %>
                    <code><%= reg %></code><br>
                  <% end %>
                  <%= if !library.tag_regex.empty? then link_to t(".tag_regex.search_missing"), models_path(library: library, missingtag: ""), {class: "btn btn-outline-secondary"} end %>
                </td>
              </tr>
            </table>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
