<div class="card mb-2">
  <h3 class="card-header"><%= t(".heading") %></h3>
  <div class="card-body">
    <p class='lead'>
      <%= SiteSettings.multiuser_enabled? ? t(".multiuser_mode") : t(".single_user_mode") %>
    </p>
    <table class='table table-striped'>
      <tr>
        <td><%= t(".multiuser") %></td>
        <td><%= SiteSettings.multiuser_enabled? ? "✅" : "❌" %></td>
      </tr>
      <tr>
        <td><%= t(".registration") %></td>
        <td><%= SiteSettings.registration_enabled? ? "✅" : "❌" %></td>
      </tr>
      <tr>
        <td><%= t(".federation") %></td>
        <td><%= SiteSettings.federation_enabled? ? "✅" : "❌" %></td>
      </tr>
      <tr>
        <td><%= t(".email") %></td>
        <td><%= SiteSettings.email_configured? ? "✅" : "❌" %></td>
      </tr>
      <tr>
        <td><%= t(".oidc") %></td>
        <td><%= SiteSettings.oidc_enabled? ? "✅" : "❌" %></td>
      </tr>
    </table>
    <p>
      <%= t(".details_html") %>
    </p>
    <hr>
    <div class="row mb-2">
      <%= form.label nil, t(".default_viewer_role.label"), for: "multiuser[default_viewer_role]", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8 form-check form-switch">
        <%= form.select "multiuser[default_viewer_role]",
              [[translate(".default_viewer_role.options.none"), nil],
                [translate(".default_viewer_role.options.member"), "member"]],
              {selected: SiteSettings.default_viewer_role},
              {class: "form-select"} %>
        <small><%= t(".default_viewer_role.help") %></small>
      </div>
    </div>
  </div>
</div>
