<div class="card mb-2">
  <h3 class="card-header"><%= t(".heading") %></h3>
  <div class="card-body">
    <p class='lead'>
      <%= SiteSettings.multiuser_enabled? ? t(".multiuser_mode") : t(".single_user_mode") %>
    </p>
    <% if SiteSettings.multiuser_enabled? %>
      <p>
        <%= SiteSettings.registration_enabled? ? t(".registrations_open") : t(".registrations_closed") %>
      </p>
    <% end %>
    <p>
      <%= t(".details_html") %>
    </p>
    <hr>
    <div class="grid mb-2">
      <%= form.label nil, t(".default_viewer_role.label"), for: "multiuser[default_viewer_role]", class: "g-col-sm-4 col-form-label" %>
      <div class="g-col-sm-8 form-check form-switch">
        <%= form.select "multiuser[default_viewer_role]",
              [[translate(".default_viewer_role.options.none"), nil],
                [translate(".default_viewer_role.options.member"), "member"]],
              {selected: SiteSettings.default_viewer_role},
              {class: "form-select"} %>
        <small><%= t(".default_viewer_role.help") %></small>
      </div>
    </div>
  </div>
</div>
