<div class="card">
  <h2 class="card-header">Pagination</h2>
  <div class="card-body">

    <p>
      Show only a certain number of items at a time in list pages, rather than everything at once.
      This can make things quicker to load.
    </p>

    <div class="form-check form-switch">
      <%= form.check_box "pagination[models]", checked: @user.pagination_settings["models"], class: "form-check-input" %>
      <%= form.label "Paginate models", for: "pagination[models]", class: "form-check-label"%>
    </div>
    <div class="form-check form-switch">
      <%= form.check_box "pagination[creators]", checked: @user.pagination_settings["creators"], class: "form-check-input" %>
      <%= form.label "Paginate creators", for: "pagination[creators]", class: "form-check-label"%>
    </div>
    <div class="">
      <%= form.label "Items per page", for: "pagination[per_page]", class: "form-label"%>
      <%= form.number_field "pagination[per_page]", value: @user.pagination_settings["per_page"], in: 1..100, class: 'form-control' %>
    </div>
  </div>
</div>
