<div class="card mb-2">
  <h3 class="card-header">Pagination</h3>
  <div class="card-body">

    <p class='lead'>
      Show only a certain number of items at a time in list pages, rather than everything at once.
      This can make things quicker to load.
    </p>

    <div class="row">
      <%= form.label "Paginate models", for: "pagination[models]", class: "col col-form-label"%>
      <div class="col form-check form-switch">
        <%= form.check_box "pagination[models]", checked: @user.pagination_settings["models"], class: "form-check-input" %>
      </div>
    </div>
    <div class="row">
      <%= form.label "Paginate creators", for: "pagination[creators]", class: "col col-form-label"%>
      <div class="col form-check form-switch">
        <%= form.check_box "pagination[creators]", checked: @user.pagination_settings["creators"], class: "form-check-input" %>
      </div>
    </div>
    <div class="row">
      <%= form.label "Paginate collections", for: "pagination[collections]", class: "col col-form-label"%>
      <div class="col form-check form-switch">
        <%= form.check_box "pagination[collections]", checked: @user.pagination_settings["collections"], class: "form-check-input" %>
      </div>
    </div>
    <div class="row">
      <%= form.label "Items per page", for: "pagination[per_page]", class: "col col-form-label"%>
      <div class="col">
        <%= form.number_field "pagination[per_page]", value: @user.pagination_settings["per_page"], in: 1..100, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
