<div class="card mb-2">
  <h3 class="card-header"><%= t(".heading") %></h3>
  <div class="card-body">
    <div class="grid">
      <%= form.label nil, t(".threshold.label"), for: "tag_cloud[threshold]", class: "col col-form-label" %>
      <div class="col">
        <%= form.text_field "tag_cloud[threshold]", value: @user.tag_cloud_settings["threshold"], class: "form-control" %>
      </div>
    </div>
    <div class="grid">
      <%= form.label nil, t(".heatmap.label"), for: "tag_cloud[heatmap]", class: "col col-form-label" %>
      <div class="col form-check form-switch">
        <%= form.check_box "tag_cloud[heatmap]", checked: @user.tag_cloud_settings["heatmap"], class: "form-check-input" %>
      </div>
    </div>
    <div class="grid">
      <%= form.label nil, t(".sorting.label"), for: "tag_cloud[sorting]", class: "col col-form-label" %>
      <div class="col">
        <%= form.select "tag_cloud[sorting]", ["frequency", "alphabetical"],
              {selected: @user.tag_cloud_settings["sorting"]},
              class: "form-select" %>
      </div>
    </div>
    <div class="grid mb-2">
      <%= form.label nil, t(".keypair.label"), for: "tag_cloud[keypair]", class: "col col-form-label" %>
      <div class="col form-check form-switch">
        <%= form.check_box "tag_cloud[keypair]", checked: @user.tag_cloud_settings["keypair"], class: "form-check-input" %>
      </div>
    </div>
  </div>
</div>
