<div class="card">
  <h3 class="card-header">Tagging</h3>
  <div class="card-body">
    <p class='lead'>
      Configure how auto-tagging works, and filters out certain words ("stop words"). Affects all users.<br />
      Prefix elements: creator/collections/tags
    </p>
    <div class="row mb-2">
      <%= form.label "Automatically tag new models with", for: "model_tags[auto_tag_new]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= form.text_field "model_tags[auto_tag_new]", value: SiteSettings.model_tags_auto_tag_new, class: 'form-control' %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Tag keywords from model directory", for: "model_tags[tag_model_directory_name]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8 form-check form-switch">
        <%= form.check_box "model_tags[tag_model_directory_name]", checked: SiteSettings.model_tags_tag_model_directory_name, class: "form-check-input" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Model path prefix template", for: "model_tags[model_path_prefix_template]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8 form-check form-switch">
        <%= form.text_field "model_tags[model_path_prefix_template]", value: SiteSettings.model_path_prefix_template, class: "form-control" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Use prefix template to populate creator/collection/tags", for: "model_tags[model_tags_tag_model_path_prefix]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8 form-check form-switch">
        <%= form.check_box "model_tags[model_tags_tag_model_path_prefix]", checked: SiteSettings.model_tags_tag_model_path_prefix, class: "form-check-input" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Add model id as suffix for model directory", for: "model_tags[model_path_suffix_model_id]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8 form-check form-switch">
        <%= form.check_box "model_tags[model_path_suffix_model_id]", checked: SiteSettings.model_path_suffix_model_id, class: "form-check-input" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Filter out stop words", for: "model_tags[filter_stop_words]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8 form-check form-switch">
        <%= form.check_box "model_tags[filter_stop_words]", checked: SiteSettings.model_tags_filter_stop_words, class: "form-check-input" %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Stop words locale", for: "model_tags[stop_words_locale]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= form.text_field "model_tags[stop_words_locale]", value: SiteSettings.model_tags_stop_words_locale, class: 'form-control' %>
      </div>
    </div>
    <div class="row mb-2">
      <%= form.label "Custom stop words", for: "model_tags[custom_stop_words]", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= form.text_field "model_tags[custom_stop_words]", value: SiteSettings.model_tags_custom_stop_words, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
