<h3><%= t(".heading") %></h3>
<p class='lead'>
  <%= t(".description") %>
</p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= checkbox_input_row form, "analysis[manifold]",
        label: t(".manifold.label"),
        checked: SiteSettings.analyse_manifold,
        help: t(".manifold.help") %>
  <%= render "submit", form: form %>
<% end %>
