<h3><%= t(".heading") %></h3>
<p class="lead"><%= t(".summary") %></p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= text_input_row form, "appearance[site_name]", label: t(".site_name.label"), value: SiteSettings.site_name, placeholder: t("application.title"), help: t(".site_name.help") %>
  <%= text_input_row form, "appearance[site_tagline]", label: t(".site_tagline.label"), value: SiteSettings.site_tagline, placeholder: t("application.tagline"), help: t(".site_tagline.help") %>
  <%= url_input_row form, "appearance[site_icon]", label: t(".site_icon.label"), value: SiteSettings.site_icon, help: t(".site_icon.help") %>
  <%= url_input_row form, "appearance[support_link]", label: t(".support_link.label"), value: SiteSettings.support_link, help: t(".support_link.help") %>
  <%= select_input_row form, "appearance[theme]", [
        "brite",
        "cerulean",
        "cosmo",
        "cyborg",
        "darkly",
        "default",
        "flatly",
        "journal",
        "litera",
        "lumen",
        "lux",
        "materia",
        "minty",
        "morph",
        "pulse",
        "quartz",
        "sandstone",
        "simplex",
        "sketchy",
        "slate",
        "solar",
        "spacelab",
        "superhero",
        "united",
        "vapor",
        "yeti",
        "zephyr"
      ].map { |it| [it.titleize, it] },
        label: t(".theme.label"),
        selected: SiteSettings.theme,
        help: t(".theme.help_html") %>
  <hr>
  <h4><%= t(".information") %></h4>
  <%= rich_text_input_row form, "appearance[about]", label: t(".about.label"), value: SiteSettings.about, help: t(".about.help_html") %>
  <%= rich_text_input_row form, "appearance[rules]", label: t(".rules.label"), value: SiteSettings.rules, help: t(".rules.help_html") %>
  <%= render "submit", form: form %>
<% end %>
