<h3><%= t(".heading") %></h3>
<p class='lead'>
  <%= t(".description") %>
</p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= checkbox_input_row form, "downloads[pregenerate]",
        label: t(".pregenerate.label"),
        checked: SiteSettings.pregenerate_downloads,
        help: t(".pregenerate.help") %>
  <%= numeric_input_row form, "downloads[expiry]",
        label: t(".expiry.label"),
        value: SiteSettings.download_expiry_time_in_hours,
        min: 0, step: 1,
        unit: t(".expiry.hours"),
        help: t(".expiry.help") %>
  <hr>
  <h4><%= t ".derivatives.heading" %></h4>
  <p><%= t ".derivatives.description" %></p>
  <%= checkbox_input_row form, "downloads[image_derivatives]",
        label: t(".derivatives.images.label"),
        checked: SiteSettings.generate_image_derivatives,
        help: t(".derivatives.images.help") %>
  <%= render "submit", form: form %>
<% end %>
