<h3><%= t(".heading") %></h3>
<p class='lead'>
  <%= t(".description") %>
</p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= checkbox_input_row form, "discovery[allow_robots]",
        label: t(".allow_robots.label"),
        checked: SiteSettings.allow_robots,
        help: t(".allow_robots.help") %>
  <%= checkbox_input_row form, "discovery[allow_ai_bots]",
        label: t(".allow_ai_bots.label"),
        checked: SiteSettings.allow_ai_bots,
        help: t(".allow_ai_bots.help") %>
  <hr>
  <h4><%= t(".indexing.heading") %></h4>
  <p>
    <%= t(".indexing.description") %>
  </p>
  <%= checkbox_input_row form, "discovery[default_indexable]",
        label: t(".default_indexable.label"),
        checked: SiteSettings.default_indexable,
        help: t(".default_indexable.help") %>
  <%= checkbox_input_row form, "discovery[default_ai_indexable]",
        label: t(".default_ai_indexable.label"),
        checked: SiteSettings.default_ai_indexable,
        help: t(".default_ai_indexable.help_html") %>
  <%= render "submit", form: form %>
<% end %>
