<h3><%= t(".heading") %></h3>
<p class="lead"><%= t(".summary") %></p>
<p><%= t(".description_html", endpoint: UsageReport.endpoint) %></p>
<div class='alert'>
  <code><%= UsageReport.generate %></code>
</div>
<p><%= t(".use_of_data") %></p>
<p><%= t(".verification_html") %></p>

<%= form_with url: settings_path, method: :patch, class: "tabular-form" do |form| %>
  <%= checkbox_input_row form, "usage[report]",
        label: t(".report_usage.label"),
        checked: SiteSettings.anonymous_usage_id.present? %>
  <%= render "submit", form: form %>
<% end %>
