<%= form_with url: settings_path, method: :patch do |form| %>
  <div class="row mb-4">
    <%= render "folder_settings", form: form %>
    <%= render "tag_settings", form: form %>
  </div>

  <div class="row mb-4">
    <div class='col'>
      <button type="submit" class="btn btn-primary"><%= icon("save", t("settings.general.submit")) %> <%= t("settings.general.submit") %></button>
    </div>
  </div>
<% end %>
