<h1>Settings</h1>


<%= form_with url: user_settings_path(user: @user), method: :patch do |form| %>
  <div class="row mb-4">
    <div class="col">
      <%= render "pagination_settings", form: form %>
    </div>
    <div class="col">
      <%= render "renderer_settings", form: form %>
    </div>
  </div>

  <% if current_user.admin? %>

    <div class="row mb-4">
      <div class="col">
        <%= render "folder_settings", form: form %>
      </div>
      <div class="col">
        <%= render "tag_settings", form: form %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <%= render "library_settings", form: form %>
      </div>
    </div>
  <% end %>

  <div class="row mb-4">
    <div class='col'>
      <button type="submit" class="btn btn-primary"><%= icon('save', 'Save') %> Save Settings</button>
    </div>
    <% if current_user.admin? %>
      <div class='col text-end'>
        <%= link_to "#{icon('tools', 'Administration')} Advanced Administration".html_safe, '/admin', class: "btn btn-danger" %>
      </div>
    <% end %>
    </p>
  </div>
<% end %>
