<h1>Settings</h1>

<%= form_with url: user_settings_path(user: @user), method: :patch do |form| %>

  <%= render "pagination_settings", form: form %>
  <%= render "renderer_settings", form: form %>

  <% if current_user.admin? %>
    <%= render "tag_settings", form: form %>
  <% end %>

  <div class="">
    <button type="submit" class="btn btn-primary"><%= icon('save', 'Save') %> Save</button>
  </div>

<% end %>

<% if current_user.admin? %>

  <h2>Administration</h2>

  <div class="">
    <%= link_to "#{icon('tools', 'Administration')} Advanced Administration Interface".html_safe, '/admin' %>
  </div>
<% end %>
