<h1><%= t ".title" %></h1>

<%= form_with url: user_settings_path(user: @user), method: :patch do |form| %>
  <div class="grid mb-4">
    <div class="col">
      <%= render "general_settings", form: form %>
      <%= render "pagination_settings", form: form %>
      <%= render "tag_cloud_settings", form: form %>
      <%= render "file_list_settings", form: form %>
    </div>
    <div class="col">
      <%= render "renderer_settings", form: form %>
      <%= render "problem_settings", form: form %>
    </div>
  </div>

  <% if current_user.is_administrator? %>

    <div class="grid mb-4">
      <div class="col">
        <%= render "usage_settings", form: form %>
        <%= render "multiuser_settings", form: form %>
        <%= render "analysis_settings", form: form %>
      </div>
      <div class="col">
        <%= render "folder_settings", form: form %>
        <%= render "tag_settings", form: form %>
      </div>
    </div>

    <div class="grid mb-4">
      <div class="col">
        <%= render "library_settings", form: form %>
      </div>
    </div>
  <% end %>

  <div class="grid mb-4">
    <div class='col'>
      <button type="submit" class="btn btn-primary"><%= icon("save", t(".submit")) %> <%= t(".submit") %></button>
    </div>
    <% if current_user.is_administrator? && !SiteSettings.demo_mode_enabled? %>
      <div class='col text-end'>
        <%= link_to safe_join([icon("tools", t(".advanced_admin")), t(".advanced_admin")], " "),
              "/admin",
              class: "btn btn-danger" %>
      </div>
    <% end %>
    </p>
  </div>
<% end %>
