<h1>Settings</h1>

<%= form_with url: user_settings_path(user: @user), method: :patch do |form| %>

  <h2>Pagination</h2>

  <p>
    Show only a certain number of items at a time in list pages, rather than everything at once.
    This can make things quicker to load.
  </p>

  <div class="form-check form-switch">
    <%= form.check_box "pagination[models]", checked: @user.pagination_settings["models"], class: "form-check-input" %>
    <%= form.label "Paginate models", for: "pagination[models]", class: "form-check-label"%>
  </div>
  <div class="form-check form-switch">
    <%= form.check_box "pagination[creators]", checked: @user.pagination_settings["creators"], class: "form-check-input" %>
    <%= form.label "Paginate creators", for: "pagination[creators]", class: "form-check-label"%>
  </div>
  <div class="">
    <%= form.label "Items per page", for: "pagination[per_page]", class: "form-label"%>
    <%= form.number_field "pagination[per_page]", value: @user.pagination_settings["per_page"], in: 1..100, class: 'form-control' %>
  </div>

  <h2>Renderer</h2>

  <p>
    Customise settings for 3d rendered previews.
  </p>

  <div class="">
    <%= form.label "Ground plane size (mm)", for: "renderer[grid_width]", class: "form-label"%>
    <%= form.number_field "renderer[grid_width]", value: @user.renderer_settings["grid_width"], class: "form-control" %>
  </div>

  <% if current_user.admin? %>

    <h2>Tagging</h2>

    <p>
      Configure how auto-tagging works, and filters out certain words ("stop words").
    </p>

    <div class="form-check form-switch">
      <%= form.check_box "model_tags[filter_stop_words]", checked: SiteSettings.model_tags_filter_stop_words, class: "form-check-input" %>
      <%= form.label "Filter out stop words", for: "model_tags[filter_stop_words]", class: "form-check-label"%>
    </div>
    <div class="">
      <%= form.label "Stop words locale", for: "model_tags[stop_words_locale]", class: "form-label"%>
      <%= form.text_field "model_tags[stop_words_locale]", value: SiteSettings.model_tags_stop_words_locale, class: 'form-control' %>
    </div>
    <div class="">
      <%= form.label "Custom stop words", for: "model_tags[custom_stop_words]", class: "form-label"%>
      <%= form.text_field "model_tags[custom_stop_words]", value: SiteSettings.model_tags_custom_stop_words, class: 'form-control' %>
    </div>
    <div class="">
      <%= form.label "Automatically tag new models with", for: "model_tags[auto_tag_new]", class: "form-label"%>
      <%= form.text_field "model_tags[auto_tag_new]", value: SiteSettings.model_tags_auto_tag_new, class: 'form-control' %>
    </div>

  <% end %>

  <div class="">
    <button type="submit" class="btn btn-primary"><%= icon('save', 'Save') %> Save</button>
  </div>

<% end %>

<% if current_user.admin? %>

  <h2>Administration</h2>

  <div class="">
    <%= link_to "#{icon('tools', 'Administration')} Advanced Administration Interface".html_safe, '/admin' %>
  </div>
<% end %>
