<h1>Recent Activity</h1>

Entries are kept for <%= distance_of_time_in_words ActiveJob::Status.options[:expires_in] %>.

<table class="table table-striped">
  <tr>
    <th></th>
    <th><%= t(".name") %></th>
    <th><%= t(".time") %></th>
    <th><%= t(".message") %></th>
  </tr>
  <% @jobs.each do |status| %>
    <tr class="<%= activity_row_style(status[:status]) %>">
      <td><%= status_icon(status[:status]) %></td>
      <td><%= status[:serialized_job]["job_class"] %></td>
      <td><%= time_ago_in_words status.last_activity %></td>
      <td><%= status[:exception]&.fetch(:message, nil) || t(status[:step] || status[:error]) %></td>
    </tr>
  <% end %>
</table>
