<h3><%= t(".title") %></h3>

<%= link_to t(".new"), new_settings_user_path, class: "btn btn-primary float-end" if policy(:user).new? %>
<p class="lead"><%= t(".description") %></p>

<%= paginate @users %>

<table class="table table-striped">
  <tr>
    <%= ColumnHeader label: User.human_attribute_name(:approved), sort_param: :order, sort_option: "pending", sort_default: true if SiteSettings.approve_signups # i18n-tasks-use t("activerecord.attributes.user.approved") %>
    <%= ColumnHeader label: User.human_attribute_name(:username), sort_param: :order, sort_option: "name" # i18n-tasks-use t("activerecord.attributes.user.name") %>
    <%= ColumnHeader label: User.human_attribute_name(:email) # i18n-tasks-use t("activerecord.attributes.user.email") %>
    <%= ColumnHeader label: User.human_attribute_name(:auth_uid) if SiteSettings.oidc_enabled? # i18n-tasks-use t("activerecord.attributes.user.auth_uid") %>
    <%= ColumnHeader label: t(".local") if SiteSettings.federation_enabled? %>
    <%= ColumnHeader label: t(".fediverse_address") if SiteSettings.federation_enabled? %>
    <%= ColumnHeader label: User.human_attribute_name(:created_at), sort_param: :order, sort_option: "recent" # i18n-tasks-use t("activerecord.attributes.user.created_at") %>
    <%= ColumnHeader label: Role.model_name.human(count: 100) %>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr class="<%= user.approved? ? "" : "table-info" %>">
      <td>
        <%= Icon(icon: "hourglass", label: "") unless user.approved? %>
        <%= "✅" if user.approved? %>
      </td>
      <td>
        <%= user.username %>
      </td>
      <td><%= masked_email(user.email) %></td>
      <%= content_tag :td, (user.auth_uid ? "✅" : "❌") if SiteSettings.oidc_enabled? %>
      <%= content_tag :td, (user.local? ? "✅" : "❌") if SiteSettings.federation_enabled? %>
      <%= content_tag :td, user.federails_actor&.at_address if SiteSettings.federation_enabled? %>
      <%= content_tag :td, user.created_at %>
      <td><%= user.roles&.map(&:name)&.join(", ") %></td>
      <td><%= link_to safe_join([Icon(icon: "search", label: t(".view")), t(".view")], " "), settings_user_path(user), class: "btn btn-secondary" %></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
