<div class="col mb-4">
  <div class="card"%>
    <div class="card-body">
      <h5 class="card-title"><%= creator.name %></h5>
      <% if creator.caption %>
        <h6 class="card-subtitle mb-2 text-muted"><%= sanitize creator.caption %></h6>
      <% end %>
      <% if creator.notes %>
        <p class="card-text"><%= sanitize creator.notes %></p>
      <% end %>
      <ul class='links'>
        <% creator.links.each do |link| %>
          <li><%= link_to t("sites.#{link.site}"), link.url %></li>
        <% end %>
      </ul>
      <%= link_to "#{pluralize(creator.models.count, "Model")}", models_path(creator: creator.id), {class: "btn btn-primary"} %>
      <%= link_to "Edit", edit_creator_path(creator), {class: "btn btn-outline-secondary"} %>
      <%= link_to "Filter", (@filters||{}).merge(controller: 'creators', creator: creator.id), class: "btn btn-primary" %>
    </div>
  </div>
</div>
