<%= form_with model: @creator do |form| %>
  <form>
    <div class="row mb-3 input-group">
      <%= form.label :name, class: "col-sm-2 col-form-label" %>
      <%= form.text_field :name, class: "form-control col-auto" %>
    </div>

    <%= render 'links_form', :form => form %>

    <div class="row mb-3 input-group">
      <%= form.label :excerpt, class: "col-sm-2 col-form-label" %>
      <%= form.text_area :excerpt, class: "form-control col-auto" %>
    </div>

    <div class="row mb-3 input-group">
      <%= form.label :notes, class: "col-sm-2 col-form-label" %>
      <%= form.text_area :notes, class: "form-control col-auto" %>
    </div>

  <%= form.submit "Save", class: "btn btn-primary" %>
  </form>
<% end %>
