<%= form_with model: @creator do |form| %>
  <%= text_input_row form, :name %>
  <%= text_input_row form, :slug, value: @attemped_slug || @creator.slug if @creator.slug.presence %>
  <%= render "links_form", form: form %>
  <%= text_input_row form, :caption %>
  <%= rich_text_input_row form, :notes, help: t(".notes.help_html") %>
  <%= render "caber_relations_form", form: form %>
  <div class="row mb-4">
    <div class='col'>
      <%= form.submit translate("general.save"), class: "btn btn-primary" %>
    </div>
    <% if @creator.persisted? %>
      <div class='col text-end'>
        <%= link_to t("general.delete"), creator_path(@creator), {method: :delete, class: "btn btn-outline-danger"} if policy(@creator).destroy? %>
      </div>
    <% end %>
  </div>
<% end %>
