<%= form_with model: @creator do |form| %>
  <form>
    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div id='links'>
      <%= form.fields_for :links do |link| %>
        <%= render 'link_fields', :f => link %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add link', form, :links %>
      </div>
    </div>

    <%= form.submit "Save", class: "btn btn-primary" %>
  </form>
<% end %>
