<%= form_with model: @creator do |form| %>
  <form>
    <div class="row mb-3">
      <%= form.label :name, class: "col-sm-2 col-form-label" %>
      <%= tag.div class: "col-sm-10" do %>
        <%= form.text_field :name, class: "form-control" %>
      <% end %>
    </div>

    <%= render 'links_form', :form => form %>

    <%= form.submit "Save", class: "btn btn-primary" %>
  </form>
<% end %>
