<% content_for :items do %>
  <div class="skip-link-container">
    <%= skip_link "sidebar", t(".skip_creators") %>
    <div class="row">
      <div class="col">
        <%= paginate @creators %>
      </div>
      <div class="col col-auto">
        <%= SortMenu(filter: @filter) %>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render "unassigned" if @unassigned_count > 0 && @creators.first_page? %>
      <%= render @creators %>
    </div>
    <%= paginate @creators %>
  </div>
<% end %>

<% content_for :actions do %>
  <%= link_to t("creators.general.new"), new_creator_path, class: "btn btn-primary" if policy(:creator).new? %>
<% end %>

<% content_for :sidebar do %>
  <%= render "filters_card" %>
  <%= render "tags_card" %>
<% end %>
