<% content_for :items do %>
  <div class="skip-link-container">
    <div class="clearfix">
      <%= skip_link "sidebar", t(".skip_creators") %>
      <%= render "order_buttons" %>
      <% if pagination_settings["creators"] %>
        <%= paginate @creators %>
      <% end %>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render "unassigned" if !pagination_settings["creators"] || @creators.first_page? %>
      <%= render @creators %>
    </div>
    <% if pagination_settings["creators"] %>
      <%= paginate @creators %>
    <% end %>
  </div>
<% end %>

<% content_for :actions do %>
  <%= link_to t("creators.general.new"), new_creator_path, class: "btn btn-primary" if policy(:creator).new? %>
<% end %>

<% content_for :sidebar do %>
  <%= render "filters_card" %>
  <%= render "tags_card" %>
<% end %>
