<% content_for :page_header do %>
  <%= render "application/content_header" %>
<% end %>

<% content_for :items do %>
  <% if current_user.pagination_settings["creators"] %>
    <%= paginate @creators %>
  <% end %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
    <%= render @creators %>
  </div>
  <% if current_user.pagination_settings["creators"] %>
    <%= paginate @creators %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= card :secondary, t(".actions_heading") do %>
    <%= link_to t(".view_unassigned"), models_path(creator: ""), class: "btn btn-outline-secondary mb-3 me-3" %>
    <%= link_to t("creators.general.new"), new_creator_path, class: "btn btn-primary mb-3 me-3" %>
  <% end %>
  <%= render "filters_card" %>
  <% unless @tags.empty? %>
    <%= card :secondary, t(".tags_heading"), collapse: "md" do %>
      <%= render "tag_list", tags: @tags - (@tag || []), muted_tags: @tags - @commontags %>
    <% end %>
  <% end %>
<% end %>
