<h1><%= @title %></h1>

<div class="row row-cols-2">
  <div class="col-9">

    <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4">
      <%= render partial: 'model', collection: @models %>
      <% if @models.empty? %>
        <div>No models yet!</div>
      <% end %>
    </div>
    <% if current_user.pagination_settings["models"] %>
      <%= paginate @models %>
    <% end %>

  </div>
  <div class="col-3">

    <%= render 'links_card', links: @creator.links if @creator %>

    <%= card(:secondary, 'Actions') do %>
      <%= link_to "Edit Details", edit_creator_path(@creator), class: "btn btn-primary" %>
      <%= link_to 'Delete', @creator, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <% end if @creator%>

    <%= card(:secondary, 'Notes') do %>
      <p class="card-text"><%= sanitize @creator.notes %></p>
    <% end if @creator.notes %>

  </div>
</div>
