<% content_for :head do %>
  <%= tag.meta property: "og:type", content: "profile" %>
  <%= tag.meta name: "description", content: truncate(sanitize(@creator.caption), length: 80) if @creator.caption.present? %>
<% end %>

<%= content_for :items do %>
  <div class="card mb-3">
    <div class="card-body row">
      <div class="col col-auto">
        <%= content_tag(:div, class: "text-center") do %>
          <%= content_tag(:h2) { @creator.name } %>
          <p><small class="text-secondary">@<%= @creator.actor.at_address if SiteSettings.federation_enabled? %></small></p>
          <%= render FollowButtonComponent.new(follower: current_user, target: @creator) %>
        <% end %>
      </div>
      <div class="col">
        <%= content_tag(:p, class: "lead") { @creator.caption } if @creator.caption %>
        <%= content_tag(:p, class: "card-text") { markdownify @creator.notes } if @creator.notes %>
        <%= "#{policy_scope(Model).where(creator: @creator).count} #{Model.model_name.human count: policy_scope(Model).where(creator: @creator).count}" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :actions do %>
  <%= link_to safe_join([icon("pencil", t(".edit")), t(".edit")], " "), edit_creator_path(@creator), class: "btn btn-primary" if policy(@creator).edit? %>
<% end %>

<%= render "models/list" %>
