<h1><%= @creator.name %></h1>

<div class="row row-cols-2">
  <div class="col-9">

    <div class="row row-cols-2 row-cols-md-3 mb-4">
      <%= render partial: 'model', collection: @models %>
      <% if @models.empty? %>
        <div>No models yet!</div>
      <% end %>
    </div>

  </div>
  <div class="col-3">

    <%= card(:secondary, 'Links') do %>
      <ul class='links'>
        <% @creator.links.each do |link| %>
          <li><%= link_to t(link.site), link.url %></li>
        <% end %>
      </ul>
    <% end %>

    <%= card(:secondary, 'Actions') do %>
      <%= link_to "Edit Details", edit_creator_path(@creator), class: "btn btn-primary" %>
      <%= link_to 'Delete', @creator, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <% end %>

  </div>
</div>
