<table class="table table-striped">
  <tr>
    <th><%= t(".name") %></th>
    <th><%= t(".address") %></th>
    <th><%= t(".info") %></th>
    <th><%= t(".actions") %></th>
  </tr>
  <% actors.each do |actor| %>
    <tr class="align-middle">
      <td><%= link_to actor.name, actor.profile_url %></td>
      <td><%= actor.short_at_address %></td>
      <td class="text-warning"><%= icon("exclamation-triangle-fill", translate(".non_manyfold_account")) if !actor.local? && actor.extensions&.dig("f3di:concreteType").nil? %></td>
      <td><%= render FollowButtonComponent.new(follower: current_user, target: actor) %></td>
    </tr>
  <% end %>
</table>
