<h2><%= t(".title") %></h2>

<% if SiteSettings.federation_enabled? %>
	<p class="lead"%><%= t("settings.users.index.fediverse_address") %>: <code><%= current_user.federails_actor.at_address %></code></p>
<% end %>

<div class="row">
	<div class="col">
		<h3><%= t(".following") %> (<%= @followings.count %>)</h3>
		<%= render "actor_table", actors: @followings %>
	</div>
	<div class="col">
		<h3><%= t(".followers") %> (<%= @followers.count %>)</h3>
		<%= render "actor_table", actors: @followers %>
	</div>
</div>
