<h2><%= t(".title") %></h2>

<%= render "search_form", query: @query %>

<% if @query.present? %>

  <h3><%= t(".results") %></h3>
  <% if @actors&.any? %>
    <div class="row">
      <% @actors.each do |actor| %>
        <%= render Components::ActorCard.new actor: actor %>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <%= icon "person-arms-up", "" %>
      <%= t(".no_results", query: @query) %>
    </div>
  <% end %>
<% end %>

<% if @recommended&.any? %>

  <h3><%= t(".recommended") %></h3>
  <div class="row">
    <% @recommended.each do |actor| %>
      <%= render Components::ActorCard.new actor: actor %>
    <% end %>
  </div>

<% end %>
