<h2><%= t(".title") %></h2>
<p>
  <%= t(".help") %>
</p>

<%= render "search_form", query: @query %>

<% if @query %>

  <h3><%= t(".results") %></h3>
  <% if @actors %>
    <%= render "actor_table", actors: @actors %>
  <% else %>
    <div class="alert alert-info">
      <%= icon "person-arms-up", "" %>
      <%= t(".no_results", query: @query) %>
    </div>
  <% end %>
<% end %>

<% if @recommended&.any? %>

  <h3><%= t(".recommended") %></h3>
  <%= render "actor_table", actors: @recommended %>

<% end %>
