<p><%= t(".hello", email: @resource.email) %></p>

<p><%= t(".someone_invited_you", url: root_url) %></p>

<p><%= link_to t(".accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t(".accept_until", due_date: l(@resource.invitation_due_at, format: :'.accept_until_format')) %></p>
<% end %>

<p><%= t(".ignore") %></p>
