<h1><%= t ".title" %></h1>

<%= form_with url: uploads_path, multipart: true do |form| %>

  <div class="row mb-3 input-group">
    <%= form.label :library, Library.model_name.human, class: "col-sm-2 col-form-label" %>
    <div class='col-sm-10 ps-0'>
      <%= form.select :library, Library.all.map { |lib| [lib.name, lib.id] }, {include_blank: false}, {class: "form-control form-select"} %>
      <span class="form-text"><%= t ".library.help" %></span>
    </div>
  </div>

  <div class="row mb-3 input-group">
    <%= form.label :files, t(".files.label"), class: "col-sm-2 col-form-label" %>
    <div class='col-sm-10 ps-0'>
      <%= form.file_field :files, {
            multiple: true,
            accept: "application/zip,application/x-rar-compressed,application/x-7z-compressed,application/x-bzip2,application/x-bzip,application/gzip"
          } %>
      <span class="form-text"><%= t ".files.help", types: safe_join(%w[zip rar 7z bzip gzip], ", ") %></span>
    </div>
  </div>

  <div class="row mb-2">
    <%= form.label :scan, t(".scan.label"), class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8 form-check form-switch">
      <%= form.check_box :scan, checked: true, class: "form-check-input" %>
    </div>
  </div>

  <%= submit_tag t(".submit"), class: "btn btn-primary" %>

<% end %>
