<%- subject = activity&.actor %>
<%- object = activity&.entity %>
<%- thing = object&.entity %>
<% if thing %>
  <div class="card border-0 border-bottom">
    <div class="card-body py-2">
      <div class="row">
        <div class="col col-auto">
          <%= icon icon_for(thing.class), thing.class.model_name.human %>
        </div>
        <div class="col">
          <%= (object.profile_url ? link_to(object.name, object.profile_url) : object.name) %>
        </div>
        <% if thing.is_a? Model %>
          <div class="col col-auto">
            <%= status_badges(thing) %>
          </div>
        <% end %>
        <div class="col col-auto">
          <small>
            updated
            <% if subject.entity != current_user %>
              by <%= subject.name %>
            <% end %>
            <%= t("home.index.how_long_ago", time: time_ago_in_words(thing.updated_at)) %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
