<%- subject = activity&.actor %>
<%- object = activity&.entity %>
<%- thing = object&.entity %>
<% if thing && !thing.is_a?(User) && (thing.grants_permission_to?(["view", "edit", "own"], current_user) || thing.grants_permission_to?(["view", "edit", "own"], current_user&.roles)) %>
  <tr>
    <td>
      <%= icon icon_for(thing.class), thing.class.model_name.human %>
    </td>
    <td>
      <%- if object.local? %>
        <%= link_to thing.name, thing %>
      <%- elsif object.profile_url %>
        <%= link_to object.name, object.profile_url %>
      <%- else %>
        <%= object.name %>
      <%- end %>
    </td>
    <td>
      <% if thing.is_a? Model %>
        <div class="col g-col-auto">
          <%= status_badges(thing) %>
        </div>
      <% end %>
    </td>
    <td>
      <small>
        <%= t("home.index.update_actor", time: time_ago_in_words(thing.updated_at), name: subject.name) %>
      </small>
    </td>
  </tr>
<% end %>
