<%- if SiteSettings.multiuser_enabled? %>
  <div class="col-form-label ">
    <%= t(".permissions") %>
  </div>
  <div class="border p-3">
    <%= cocooned_container id: "cocooned-caber-relations" do %>
      <%= form.fields_for :caber_relations do |f| %>
        <%= render "caber_relation_fields", f: f %>
      <% end %>
    <% end %>
    <div class="grid">
      <%= tag.div class: "offset-sm-2 ps-0" do %>
        <%= cocooned_add_item_button t(".add"), form, :caber_relations,
              class: "btn btn-secondary",
              insertion_node: "#cocooned-caber-relations",
              insertion_method: "append" %>
      <% end %>
    </div>
  </div>
<%- end %>
