<%= cocooned_item class: "grid mb-2 input-group" do %>
  <%- if f.object.persisted? %>
    <span class="col g-col-auto">
      <%- case f.object.subject.class.name %>
      <%- when "User" %>
        <%= icon "person", f.object.subject.class.model_name.human %>
        <%= f.object.subject.username %>
        <%= t(".subject.you") if f.object.subject == current_user %>
      <%- when "Role" %>
        <%= icon "people", "" %>
        <%= t(".subject.role.%{name}" % {name: f.object.subject&.name}) %>
      <%- when "NilClass" %>
        <%= icon "globe", "" %>
        <%= t(".subject.role.public") %>
      <%- else %>
        what
      <%- end %>
    </span>
  <%- else %>
    <%= f.text_field :subject, class: "col g-col-auto form-control", placeholder: translate(".subject.placeholder"), list: "caber-relations-role-list" %>
  <%- end %>
  <%= f.select :permission, Caber.configuration.permissions.map { |p| [translate(".permissions.%{perm}" % {perm: p}), p] }, {}, {class: "form-control g-col-auto", disabled: (f.object.subject == current_user)} %>
  <%= cocooned_remove_item_button icon(:trash, translate(".delete")), f, class: "btn btn-outline-danger g-col-auto" unless f.object.subject == current_user %>
<% end %>
