<% if !@filters.empty?() %>
  <%= card :secondary, t(".title") do %>
    <table class='table table-sm'>
      <% if @filters[:q] %>
        <tr>
          <td><%= icon "search", t(".search") %> <%= t(".search") %></td>
          <td><%= @filters[:q] %></td>
          <td><%= link_to icon("trash", t(".remove_filter")), @filters.except(:q), {class: "text-danger"} %></td>
        </tr>
      <% end %>
      <% if @filters[:collection] %>
        <tr>
          <td><%= icon "collection", Collection.model_name.human %> <%= Collection.model_name.human %></td>
          <td><%= @collection ? link_to(@collection.name, {collection: @collection.id}) : "Unknown" %></td>
          <td><%= link_to icon("trash", t(".remove_filter")), @filters.except(:collection), {class: "text-danger"} %></td>
        </tr>
      <% end %>
      <% if @filters[:library] %>
        <tr>
          <td><%= icon "boxes", Library.model_name.human %> <%= Library.model_name.human %></td>
          <td><%= [*@filters[:library]].map { |l| Library.find(l).name }.join(", ") %></td>
          <td><%= link_to icon("trash", t(".remove_filter")), @filters.except(:library), {class: "text-danger"} %></td>
        </tr>
      <% end %>
      <% if @filters[:creator] %>
        <tr>
          <td><%= icon "person", Creator.model_name.human %> <%= Creator.model_name.human %></td>
          <td><%= @creator ? @creator.name.titleize : t(".unknown") %></td>
          <td><%= link_to icon("trash", t(".remove_filter")), @filters.except(:creator), {class: "text-danger"} %></td>
        </tr>
      <% end %>
      <% if @filters[:tag] %>
        <tr>
          <td><%= icon "tag", Tag.model_name.human %> <%= Tag.model_name.human.pluralize %></td>
          <td><span class='pe-none'><%= render partial: "tag", collection: @tag, locals: {state: :normal} %></span></td>
          <td><%= link_to icon("trash", t(".remove_filter")), @filters.except(:tag), {class: "text-danger"} %></td>
        </tr>
      <% end %>
      <% if @filters[:missingtag] %>
        <tr>
          <td><%= icon "tag", t(".missing_tags") %> <%= t(".missing_tags") %></td>
          <td><span class='pe-none'><%= content_tag(:a, @filters[:missingtag].presence || "*", {class: "badge rounded-pill border border-muted text-danger tag"}) %></span></td>
          <td><%= link_to icon("trash", t(".remove_filter")), @filters.except(:missingtag), {class: "text-danger"} %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
