<footer class="mt-5 py-2 border-top">
  <div class="row">
    <div class="col-lg-3 me-auto">
      <span class="d-inline-flex align-items-center mb-2">
        <%= image_tag "logo.png", width: 48, height: 48, class: "me-2", alt: t(".logo") %>
        <span class="fs-5"><%= t "application.title" %></span>
      </span>
      <ul class="list-unstyled small text-muted">
        <li class="mb-2"><%= t ".by_html" %></li>
        <li class="mb-2"><%= t ".open_source_html" %></li>
        <li class="mb-2"><%= t ".version" %>:
          <%= link_to "#{ENV.fetch("APP_VERSION", "unknown").split(":")[-1]} (#{ENV.fetch("GIT_SHA", "main")[0, 7]})",
                "https://github.com/manyfold3d/manyfold/tree/#{ENV.fetch("GIT_SHA", "main")}" %>
        </li>
      </ul>
    </div>
    <div class="col-4 col-lg-2 mb-3">
      <h5><%= t ".stats_heading" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><%= "#{Library.count} library".pluralize(Library.count) %></li>
        <li class="mb-2"><%= "#{Model.count} model".pluralize(Model.count) %></li>
        <li class="mb-2"><%= "#{ModelFile.count} file".pluralize(ModelFile.count) %></li>
      </ul>
    </div>
    <div class="col-4 col-lg-2 mb-3">
      <h5><%= t ".development_heading" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><a href="https://github.com/manyfold3d/manyfold"><%= t ".code" %></a></li>
        <li class="mb-2"><a href="https://github.com/manyfold3d/manyfold/issues"><%= t ".issues" %></a></li>
      </ul>
    </div>
    <div class="col-4 col-lg-2 mb-3">
      <h5><%= t ".community_heading" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><a href="https://matrix.to/#/#manyfold:one.ems.host"><%= t ".chat" %></a></li>
        <li class="mb-2"><a href="https://3dp.chat/@manyfold"><%= t ".social" %></a></li>
        <li class="mb-2"><a href="https://opencollective.com/manyfold"><%= t ".sponsor" %></a></li>
      </ul>
    </div>
  </div>
</footer>
