<footer class="container-fluid mt-5 py-2 border-top" id="footer">
  <div class="grid grid-4-auto">
    <div>
      <span class="d-inline-flex align-items-center mb-2">
        <%= image_tag "roundel.svg", width: 48, height: 48, class: "me-2", alt: translate(".logo") %>
        <span class="fs-5"><%= t "application.title" %></span>
      </span>
      <ul class="list-unstyled small text-muted">
        <li class="mb-2"><%= t ".by_html" %></li>
        <li class="mb-2"><%= t ".open_source_html" %></li>
        <li class="mb-2"><%= t ".version" %>:
          <%= link_to "#{Rails.application.config.app_version} (#{Rails.application.config.git_sha.first(8)})",
                "#{Rails.application.config.upstream_repo}/tree/#{Rails.application.config.git_sha}",
                target: "_blank", rel: "noopener" %>
        </li>
      </ul>
    </div>
    <div>
      <h5><%= t ".stats_heading" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><%= Library.count %> <%= Library.model_name.human(count: Library.count) %></li>
        <li class="mb-2"><%= Model.count %> <%= Model.model_name.human(count: Model.count) %></li>
        <li class="mb-2"><%= ModelFile.count %> <%= ModelFile.model_name.human(count: ModelFile.count) %></li>
      </ul>
    </div>
    <div>
      <h5><%= t ".development_heading" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><a href="https://github.com/manyfold3d/manyfold" target="_blank"><%= t ".code" %></a></li>
        <li class="mb-2"><a href="https://github.com/manyfold3d/manyfold/issues" target="_blank"><%= t ".issues" %></a></li>
      </ul>
    </div>
    <div>
      <h5><%= t ".community_heading" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><a href="https://matrix.to/#/#manyfold:one.ems.host" target="_blank"><%= t ".chat" %></a></li>
        <li class="mb-2"><a href="https://3dp.chat/@manyfold" target="_blank"><%= t ".social" %></a></li>
        <li class="mb-2"><a href="https://manyfold.app/donate" target="_blank"><%= t ".sponsor" %></a></li>
      </ul>
    </div>
  </div>
</footer>
