<footer class="container-fluid mt-5 py-2 border-top" id="footer">
  <div class="row">
    <div class="col-lg-3 me-auto">
      <span class="d-inline-flex align-items-center mb-2">
        <%= image_tag "roundel.svg", width: 48, height: 48, class: "me-2", alt: translate("application.title") %>
        <span class="fs-5"><%= t(".powered_by_html", name: t("application.title")) %></span>
      </span>
      <ul class="list-unstyled small text-muted">
        <li class="mb-2"><%= t ".by_html" %></li>
        <li class="mb-2"><%= t ".open_source_html" %></li>
        <% if current_user&.is_administrator? %>
          <li class="mb-2"><%= t ".version" %>:
            <%= link_to "#{Rails.application.config.app_version} (#{Rails.application.config.git_sha.first(8)})",
                  "#{Rails.application.config.upstream_repo}/tree/#{Rails.application.config.git_sha}",
                  target: "_blank", rel: "noreferrer" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-4 col-lg-2 mb-3">
      <h5><%= site_name(default: t(".instance_heading")) %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><%= link_to t(".about"), about_path %></li>
        <% if SiteSettings.support_link.presence %>
          <li class="mb-2"><a href="<%= SiteSettings.support_link %>" target="_blank" rel="noreferrer"><%= t ".support" %></a></li>
        <% end %>
        <li class="mb-2"><%= link_to t(".api"), api_url, rel: "noopener", target: "_blank" %></li>
      </ul>
    </div>
    <div class="col-4 col-lg-2 mb-3">
      <h5><%= t "application.title" %></h5>
      <ul class="list-unstyled">
        <li class="mb-2"><a href="https://github.com/manyfold3d/manyfold/issues/new/choose" target="_blank" rel="noreferrer"><%= t ".issues" %></a></li>
        <li class="mb-2"><a href="https://manyfold.app/community" target="_blank" rel="noreferrer"><%= t ".community" %></a></li>
        <li class="mb-2"><a href="https://manyfold.app/donate" target="_blank" rel="noreferrer"><%= t ".sponsor" %></a></li>
      </ul>
    </div>
  </div>
</footer>
