<div class="row mb-3">
  <div class="col col-sm-2 col-form-label">
    <%= t(".links") %>
  </div>
  <div class="col col-sm-10 border p-3">
    <%= cocooned_container id: "cocooned-links" do %>
      <%= form.fields_for :links do |f| %>
        <%= render "link_fields", f: f %>
      <% end %>
    <% end %>
    <div class="row mb-3">
      <%= tag.div class: "col-auto offset-sm-2 ps-0" do %>
        <%= cocooned_add_item_button t(".add"), form, :links,
              class: "btn btn-secondary",
              insertion_node: "#cocooned-links",
              insertion_method: "append" %>
      <% end %>
    </div>
  </div>
</div>
