<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
  <div class='container-fluid'>
    <a class="navbar-brand ms-2" href="<%= root_path %>" aria-label="<%= translate ".home" %>">
      <%= image_tag site_icon, alt: site_name, height: "40px", class: "me-2" %>
      <span class="d-md-none"><%= site_name %></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="<%= translate ".navbar.toggler.label" %>">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbar">
      <ul class="navbar-nav col ps-4 ps-md-0 align-self-start">
        <li class="nav-item">
          <%= nav_link "box", Model.model_name.human(count: 100), models_path(@filter&.to_params), text_style: "d-md-none d-lg-inline", id: "nav-link-models", data: {"tour-title": Model.model_name.human(count: 100), "tour-description": t("tour.navbar.models.description")} %>
        </li>
        <li class="nav-item">
          <%= nav_link "people", Creator.model_name.human(count: 100), creators_path(@filter&.to_params(except: :creator)), text_style: "d-md-none d-lg-inline", id: "nav-link-creators", data: {"tour-title": Creator.model_name.human(count: 100), "tour-description": t("tour.navbar.creators.description")} %>
        </li>
        <li class="nav-item">
          <%= nav_link "collection", Collection.model_name.human(count: 100), collections_path(@filter&.to_params(except: :collection)), text_style: "d-md-none d-lg-inline", id: "nav-link-collections", data: {"tour-title": Collection.model_name.human(count: 100), "tour-description": t("tour.navbar.collections.description")} %>
        </li>
        <% if SiteSettings.show_libraries %>
          <% policy_scope(Library).find_each do |library| %>
            <li class="nav-item">
              <%= nav_link(
                    library.icon.presence || "boxes",
                    library.name,
                    models_path({library: library}.merge(@filter&.to_params(except: :library) || {})),
                    title: library.caption
                  )	%>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav col-auto pe-4 align-self-start justify-content-end">
        <li class="nav-item">
          <% if policy(:upload).index? %>
            <div class="btn-group">
              <button type="button" data-bs-toggle="dropdown" aria-expanded="false"
                class="btn btn-warning btn-sm mt-1 me-1 dropdown-toggle"
                id="nav-link-upload"
                data-tour-title="<%= t ".add_models" %>"
                data-tour-description="<%= t "tour.navbar.add_models.description" %>">
                <%= render Components::Icon.new(icon: "plus-circle") %>
                <%= t ".add_models" %>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to t(".upload"), new_model_path, nofollow: true, class: "dropdown-item" %></li>
                <li><%= link_to t(".import_url"), new_import_path, nofollow: true, class: "dropdown-item" %>
              </ul>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <% if policy(:scan).create? %>
            <% if @scan_in_progress %>
              <%= nav_link "", t(".scanning"), activity_path, nofollow: true, style: "btn btn-outline-warning btn-sm me-1 mt-lg-1", icon_style: "spinner-border spinner-border-sm" %>
            <% else %>
              <div class="btn-group">
                <button type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  class="btn btn-warning btn-sm mt-1 me-1 dropdown-toggle">
                  <%= render Components::Icon.new(icon: "radar") %>
                  <%= t ".scan" %>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".scan_changes"), scans_path, method: :post, nofollow: true, class: "dropdown-item" %></li>
                  <li><%= link_to t(".check_existing"), scans_path(type: :check), method: :post, nofollow: true, class: "dropdown-item" %>
                  <li><%= link_to t(".check_results"), scans_path({type: :check}.merge(@filter.to_params)), method: :post, nofollow: true, class: "dropdown-item" if @filter&.any? %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </li>
        <%- if current_user %>
          <% if policy(Problem).index? && Problem.visible(problem_settings).count > 0 %>
            <li class="nav-item">
              <% severity = max_problem_severity(policy_scope(Problem).all) %>
              <%= nav_link problem_icon(severity),
                    Problem.model_name.human(count: 100),
                    problems_path,
                    title: translate("problems.severities.#{severity}"), # rubocop:todo I18n/RailsI18n/DecorateStringFormattingUsingInterpolation
                    icon_style: "link-#{severity}",
                    text_style: "d-md-none",
                    aria_label: Problem.model_name.human(count: 100) %>
            </li>
          <% end %>
          <% if policy(:activity).index? %>
            <li class="nav-item">
              <%= nav_link "activity", t(".activity"), activity_path, nofollow: true, text_style: "d-md-none" %>
            </li>
          <% end %>
          <% if policy(:settings).index? %>
            <li class="nav-item">
              <%= nav_link "gear", t(".settings"), settings_path, nofollow: true, text_style: "d-md-none" %>
            </li>
          <% end %>
          <% if policy(:user).index? and not policy(:settings).index? %>
            <li class="nav-item">
              <%= nav_link "people", t(".moderator_settings"), settings_users_path, nofollow: true, text_style: "d-md-none" %>
            </li>
          <% end %>
        <% end %>
        <%- unless current_page?(root_path) %>
          <li id="nav-search" class="nav-item ms-1 me-3" data-turbo-permanent>
            <%= form_with url: models_path, method: :get, role: "search" do |f| %>
              <%= f.search_field :q, class: "form-control", placeholder: translate(".search"), aria_label: translate(".search"), aria_describedby: "button-search", value: @query || params[:q] %>
            <% end %>
          </li>
        <% end %>
        <%- if current_user %>
          <li class="nav-item">
            <%= nav_link "sliders", t(".account"), edit_user_registration_path, nofollow: true, text_style: "d-md-none", id: "nav-link-preferences", data: {"tour-title": t(".account"), "tour-description": t("tour.navbar.account.description")} %>
          </li>
        <% end %>
        <%- if SiteSettings.multiuser_enabled? %>
          <li class="nav-item">
            <%- if current_user %>
              <%= nav_link "box-arrow-right", t(".log_out"), destroy_user_session_path, method: :delete, title: translate(".log_out"), text_style: "d-md-none" %>
            <% else %>
              <%= nav_link "box-arrow-in-right", t(".log_in"), new_user_session_path, title: translate(".log_in"), nofollow: true, style: "btn btn-secondary" %>
            <% end %>
          </li>
        <%- end %>
      </ul>
    </div>
  </div>
</nav>
