<% if renderable?(file.extension) %>
  <div class="position-relative">
    <canvas id="preview-file-<%= file.to_param %>" class="object-preview position-relative" tabindex="0" data-preview
      data-preview-url="<%= model_model_file_path(model, file, file.extension&.to_sym) %>"
      data-worker-url="<%= javascript_path "offscreen_renderer.js" %>"
      data-format="<%= file.extension %>"
      data-y-up="<%= file.y_up %>"
      data-grid-size-x="<%= renderer_settings["grid_width"] %>"
      data-grid-size-z="<%= renderer_settings["grid_depth"] %>"
      data-show-grid="<%= renderer_settings["show_grid"] %>"
      data-enable-pan-zoom="<%= renderer_settings["enable_pan_zoom"] %>"
      data-background-colour="<%= renderer_settings["background_colour"] %>"
      data-object-colour="<%= renderer_settings["object_colour"] %>"
      data-render-style="<%= renderer_settings["render_style"] %>"
      data-auto-load="<%= ((file.size || 9_999_999.megabytes) < ((renderer_settings["auto_load_max_size"] || 9_999_999).megabytes)) ? "true" : "false" %>">
    </canvas>
    <div class="p-0 btn btn-secondary load-progress object-preview-progress position-absolute top-50 start-50 translate-middle" role="presentation">
      <div class="progress-bar bg-info progress-bar-animated progress-bar-striped" aria-label="Loading progress" role="progressbar" style="width: 0%; height: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      <span class="progress-label position-absolute top-50 start-50 translate-middle" role="button"><%= t("renderer.load") %> (<%= number_to_human_size file.size, precision: 2 %>)</span>
    </div>
  </div>
<% end %>
