<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t "application.title" %><%= " : #{@title}" if @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "logo.png" %>
    <%= javascript_include_tag "application", nonce: true %>
    <%= stylesheet_link_tag "application", nonce: true %>
  </head>

  <body>
    <%= skip_link "content", t(".skip_to_content") %>
    <%= render "application/navbar" %>
    <%= yield :breadcrumbs %>
    <main class="container-fluid" id="content">
      <div>
        <% if notice %>
          <p class="alert alert-info">
            <%= icon "info-circle-fill", t(".alert.info") %>
            <%= notice %>
          </p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger">
            <%= icon "x-octagon-fill", t(".alert.danger") %>
            <%= alert %>
          </p>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <%= render "application/footer" %>
  </body>
</html>
