<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= translate("application.title") %><%= " : #{@title}" if @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= tag.meta name: "csp-nonce", content: content_security_policy_nonce if content_security_policy_nonce %>
    <%= favicon_link_tag "roundel.svg" %>
    <%= tag.link rel: "apple-touch-icon", href: asset_path("square-180.png") %>
    <%= tag.meta name: "apple-mobile-web-app-title", content: translate("application.title") %>
    <%= javascript_include_tag "application", nonce: true %>
    <%= stylesheet_link_tag "application", nonce: true %>
    <%= yield :head %>
  </head>

  <body>
    <%= skip_link "content", t(".skip_to_content") %>
    <%= render "application/navbar" %>
    <%= yield :breadcrumbs %>
    <main class="container-fluid" id="content">
      <div>
        <% if notice %>
          <p class="alert alert-info">
            <%= icon "info-circle-fill", t(".alert.info") %>
            <%= notice %>
          </p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger">
            <%= icon "x-octagon-fill", t(".alert.danger") %>
            <%= alert %>
          </p>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <%= render "application/footer" %>
  </body>
</html>
