<!DOCTYPE html>
<html>
  <head>
    <title>VanDAM<%= " : #{@title}" if @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <% Library.all.each do |library| %>
          <li class="nav-item">
            <%= link_to library.name, library, class: (library == @library ? "nav-link active" : "nav-link") %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Creators", creators_path, class: "nav-link" %>
        </li>
      </ul>
      <%= yield %>
      <footer class='mt-5 py-2 border-top'>
        VanDAM is Open Source, available from <%= link_to "GitHub", "https://github.com/Floppy/van_dam" %>.
        This server is cataloguing a total of <%= "#{Model.count} model".pluralize(Model.count) %>,
        with <%= "#{Part.count} part".pluralize(Part.count) %>,
        in <%= "#{Library.count} library".pluralize(Library.count) %>.
        <% if ENV.has_key? "VAN_DAM_GIT_REF" %>
          <span id='version'>
            <%= ENV.fetch "VAN_DAM_GIT_REF", "?" %>
            (<%= ENV.fetch "VAN_DAM_GIT_SHA", "?" %>)
          </span>
        <% end %>
        <%= link_to "Inspect Logs", "/logs" %>
      </footer>
    </div>
  </body>
</html>
