<!DOCTYPE html>
<html>
  <head>
    <title>VanDAM<%= " : #{@title}" if @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= javascript_include_tag "application" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.6/js/standalone/selectize.min.js" integrity="sha512-pgmLgtHvorzxpKra2mmibwH/RDAVMlOuqU98ZjnyZrOZxgAR8hwL8A02hQFWEK25V40/9yPYb/Zc+kyWMplgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= stylesheet_link_tag "application" %>
</head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Latest".html_safe, root_path, class: (current_page?(root_path) ? "nav-link active" : "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to "#{icon('person-rolodex', 'Creators')} Creators".html_safe, creators_path, class: (current_page?(creators_path) ? "nav-link active" : "nav-link") %>
        </li>
        <% unless ActsAsTaggableOn::Tag.for_context(:collections).empty? %>
          <li class="nav-item">
            <%= link_to "#{icon('collection', 'Collections')} Collections".html_safe, collections_path, class: (current_page?(collections_path) ? "nav-link active" : "nav-link") %>
          </li>
        <% end %>
        <% Library.all.each do |library| %>
          <li class="nav-item">
            <%= link_to "#{icon('box-seam', '#{library.name}')} #{library.name}".html_safe, library, class: (current_page?(library) ? "nav-link active" : "nav-link") %>
          </li>
        <% end %>
        <li class="nav-item me-auto">
          <%= link_to icon("plus-circle", "New Library"), new_library_path, class: (current_page?(new_library_path) ? "nav-link active" : "nav-link") %>
        </li>
        <li class="nav-item">
          <%= form_with url: '/libraries/1', method: :get, class: "mt-0" do |f| %>
            <div class="input-group mt-1">
              <%= icon("search", "Search") %>
              <%= f.search_field :q, class: "form-control ms-1 me-3", placeholder: "", aria_label: "Search", aria_describedby: "button-search", value: params[:q], autofocus: true %>
            </div>
          <% end %>
        </li>
        <% if @library&.persisted? || @scan_in_progress %>
          <li class="nav-item">
            <%= link_to (@scan_in_progress ? "<span class=\"spinner-border spinner-border-sm\" aria-hidden=\"true\"></span> Scanning".html_safe : "Rescan"),
              @library ? library_path(@library) : "",
              method: :patch,
              class: "btn btn-warning btn-sm mt-1 #{"btn-outline-warning disabled" if @scan_in_progress}"
            %>
          </li>
        <% end %>
        <% if Problem.count > 0 %>
          <li class="nav-item">
            <%= link_to icon("exclamation-triangle-fill", "Problems"), problems_path, class: (current_page?(problems_path) ? "link-danger nav-link active" : "link-danger nav-link") %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to icon('sliders', 'Settings'), user_settings_path(current_user), class: (current_page?(user_settings_path(current_user)) ? "nav-link active" : "nav-link") %>
        </li>
      </ul>

      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
      <footer class='mt-5 py-2 border-top'>
        VanDAM is Open Source, available from <%= link_to "GitHub", "https://github.com/Floppy/van_dam" %>.
        This server is cataloguing a total of <%= "#{Model.count} model".pluralize(Model.count) %>,
        with <%= "#{ModelFile.count} file".pluralize(ModelFile.count) %>,
        in <%= "#{Library.count} library".pluralize(Library.count) %>.
        <% if ENV.has_key? "VAN_DAM_GIT_REF" %>
          <span id='version'>
            <%= ENV.fetch "VAN_DAM_GIT_REF", "?" %>
            (<%= ENV.fetch "VAN_DAM_GIT_SHA", "?" %>)
          </span>
        <% end %>
      </footer>
    </div>
  </body>
</html>
