<!DOCTYPE html>
<html>
  <head>
    <title>VanDAM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <% Library.all.each do |library| %>
          <li class="nav-item">
            <%= link_to library.name, library, class: (library == @library ? "nav-link active" : "nav-link") %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Add a New Library", new_library_path, class: "nav-link" %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
