<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= @title || site_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= tag.meta name: "csp-nonce", content: content_security_policy_nonce if content_security_policy_nonce %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag "entrypoints/application.ts", nonce: true, defer: true %>
    <%= vite_stylesheet_tag "entrypoints/themes/#{SiteSettings.validated_theme}.scss", nonce: true %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
