<td><%= icon("fire", t(".title")) %></td>
<td><%= link_to problem.problematic.name, [problem.problematic.model.library, problem.problematic.model, problem.problematic] %></td>
<td><%= t ".title" %>: <%= problem.note %></td>
<td>
  <%= link_to t("model_files.show.convert"), library_model_model_files_path(problem.problematic.model.library, problem.problematic.model, convert: {id: problem.problematic.id, to: "threemf"}), method: :post, class: "btn btn-warning" %>
</td>
